flows/Armory.json
[
    {
        "id": "2ececf23ef45fcf4",
        "type": "subflow",
        "name": "GETBooleanSim",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 60,
                "wires": [
                    {
                        "id": "e1f99dd92a4d1d0d"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 500,
                "y": 180,
                "wires": [
                    {
                        "id": "165ae1f02af4598f",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "e1f99dd92a4d1d0d",
        "type": "function",
        "z": "2ececf23ef45fcf4",
        "name": "SetPayload",
        "func": "msg.payload = \"GET \" + msg.idx + \"\\n\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 110,
        "y": 120,
        "wires": [
            [
                "ee6f4bdcad778414"
            ]
        ]
    },
    {
        "id": "ee6f4bdcad778414",
        "type": "tcp request",
        "z": "2ececf23ef45fcf4",
        "name": "TCPRequest",
        "server": "localhost",
        "port": "9090",
        "out": "char",
        "splitc": "\\n",
        "x": 270,
        "y": 120,
        "wires": [
            [
                "165ae1f02af4598f"
            ]
        ]
    },
    {
        "id": "165ae1f02af4598f",
        "type": "function",
        "z": "2ececf23ef45fcf4",
        "name": "ReadResponse",
        "func": "var out = msg.payload.toString('utf-8');\nmsg.payload = \"Response \" + out;\nvar arrayOut = out.split(\" \");\nif(arrayOut[0]==\"OK\" && arrayOut[1]==msg.idx)\n    msg.out = arrayOut[2].includes(\"true\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "66f9eac382c6787f",
        "type": "subflow",
        "name": "GETFloatSim",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "b8082cf2f5955f4f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 520,
                "y": 160,
                "wires": [
                    {
                        "id": "d071e41fcde96f11",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "b8082cf2f5955f4f",
        "type": "function",
        "z": "66f9eac382c6787f",
        "name": "SetPayload",
        "func": "msg.payload = \"GET \" + msg.idx + \"\\n\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 110,
        "y": 100,
        "wires": [
            [
                "2e40b1d337130b00"
            ]
        ]
    },
    {
        "id": "2e40b1d337130b00",
        "type": "tcp request",
        "z": "66f9eac382c6787f",
        "name": "TCPRequest",
        "server": "localhost",
        "port": "9090",
        "out": "char",
        "splitc": "\\n",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "d071e41fcde96f11"
            ]
        ]
    },
    {
        "id": "d071e41fcde96f11",
        "type": "function",
        "z": "66f9eac382c6787f",
        "name": "ReadResponse",
        "func": "var out = msg.payload.toString('utf-8');\nmsg.payload = \"Response \" + out;\nvar arrayOut = out.split(\" \");\nif(arrayOut[0]==\"OK\" && arrayOut[1]==msg.idx)\n    msg.out = parseFloat(arrayOut[2]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "4418cbb5908845ca",
        "type": "subflow",
        "name": "SETSim",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 20,
                "wires": [
                    {
                        "id": "b299481f03467d6a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 580,
                "y": 120,
                "wires": [
                    {
                        "id": "5730bd93bf173b80",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "b299481f03467d6a",
        "type": "function",
        "z": "4418cbb5908845ca",
        "name": "SetPayload",
        "func": "msg.payload = \"SET \" + msg.idx + \" \" + msg.value + \"\\n\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 110,
        "y": 80,
        "wires": [
            [
                "b1b038f5bd25dbdb"
            ]
        ]
    },
    {
        "id": "b1b038f5bd25dbdb",
        "type": "tcp request",
        "z": "4418cbb5908845ca",
        "name": "TCPRequest",
        "server": "localhost",
        "port": "9090",
        "out": "char",
        "splitc": "\\n",
        "x": 270,
        "y": 80,
        "wires": [
            [
                "5730bd93bf173b80"
            ]
        ]
    },
    {
        "id": "5730bd93bf173b80",
        "type": "function",
        "z": "4418cbb5908845ca",
        "name": "ReadResponse",
        "func": "var out = msg.payload.toString('utf-8');\nmsg.payload = \"Response \" + out;\nvar arrayOut = out.split(\" \");\nif(arrayOut[0]==\"OK\")\n    msg.out = true;\nelse msg.out = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "4ad56de3.33d4e4",
        "type": "tab",
        "label": "ArmoryTest",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bd1f07c8.4cb688",
        "type": "inject",
        "z": "4ad56de3.33d4e4",
        "name": "RandomizeTemperatureSensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 60,
        "wires": [
            [
                "8a647086.3f1ff8"
            ]
        ]
    },
    {
        "id": "8a647086.3f1ff8",
        "type": "function",
        "z": "4ad56de3.33d4e4",
        "name": "RandomValues",
        "func": "msg.payload = Math.round(Math.floor(Math.random()*40));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 60,
        "wires": [
            [
                "e1fa68dd.4efe"
            ]
        ]
    },
    {
        "id": "e1fa68dd.4efe",
        "type": "function",
        "z": "4ad56de3.33d4e4",
        "name": "SetParam",
        "func": "msg.idx = 20;\nmsg.value = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 60,
        "wires": [
            [
                "1c09a774.017521"
            ]
        ]
    },
    {
        "id": "1c09a774.017521",
        "type": "subflow:4418cbb5908845ca",
        "z": "4ad56de3.33d4e4",
        "name": "",
        "env": [],
        "x": 800,
        "y": 60,
        "wires": [
            [
                "edf80eb3.5e463"
            ]
        ]
    },
    {
        "id": "c6e664c8.20a69",
        "type": "inject",
        "z": "4ad56de3.33d4e4",
        "name": "CheckTemperature",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "60efeb2d.10194c"
            ]
        ]
    },
    {
        "id": "60efeb2d.10194c",
        "type": "function",
        "z": "4ad56de3.33d4e4",
        "name": "TryReadingTemperatureSensor",
        "func": "msg.idx = 20;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 360,
        "wires": [
            [
                "eee77def.0616"
            ]
        ]
    },
    {
        "id": "eee77def.0616",
        "type": "subflow:66f9eac382c6787f",
        "z": "4ad56de3.33d4e4",
        "name": "",
        "env": [],
        "x": 220,
        "y": 480,
        "wires": [
            [
                "ebe331bf.11302",
                "f2fb0186.46b2e"
            ]
        ]
    },
    {
        "id": "f2fb0186.46b2e",
        "type": "function",
        "z": "4ad56de3.33d4e4",
        "name": "SetParam",
        "func": "msg.idx = 21;\n\n\nif(msg.out < 19 || msg.out > 21) {\n    msg.value = true;\n}else{\n    msg.value = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 480,
        "wires": [
            [
                "f95a16af.8c7b5"
            ]
        ]
    },
    {
        "id": "f95a16af.8c7b5",
        "type": "subflow:4418cbb5908845ca",
        "z": "4ad56de3.33d4e4",
        "name": "",
        "env": [],
        "x": 620,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "38f673fb.476ec4",
        "type": "inject",
        "z": "4ad56de3.33d4e4",
        "name": "RandomizeHumiditySensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "12",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "e60986a6.d39f68"
            ]
        ]
    },
    {
        "id": "e60986a6.d39f68",
        "type": "function",
        "z": "4ad56de3.33d4e4",
        "name": "RandomValues",
        "func": "msg.payload = Math.round(Math.floor(Math.random()*80)+ 10);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 120,
        "wires": [
            [
                "9fc117d0.6af5a8"
            ]
        ]
    },
    {
        "id": "9fc117d0.6af5a8",
        "type": "function",
        "z": "4ad56de3.33d4e4",
        "name": "SetParam",
        "func": "msg.idx = 24;\nmsg.value = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 120,
        "wires": [
            [
                "646edaf7.85f5a4"
            ]
        ]
    },
    {
        "id": "646edaf7.85f5a4",
        "type": "subflow:4418cbb5908845ca",
        "z": "4ad56de3.33d4e4",
        "name": "",
        "env": [],
        "x": 780,
        "y": 120,
        "wires": [
            [
                "46b27f4.f5"
            ]
        ]
    },
    {
        "id": "ebe331bf.11302",
        "type": "debug",
        "z": "4ad56de3.33d4e4",
        "name": "Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "out",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 540,
        "wires": []
    },
    {
        "id": "edf80eb3.5e463",
        "type": "debug",
        "z": "4ad56de3.33d4e4",
        "name": "Temp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 60,
        "wires": []
    },
    {
        "id": "46b27f4.f5",
        "type": "debug",
        "z": "4ad56de3.33d4e4",
        "name": "Presence",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 120,
        "wires": []
    },
    {
        "id": "6e6d27ef.198b68",
        "type": "inject",
        "z": "4ad56de3.33d4e4",
        "name": "RandomizeCO2Sensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "6d8c18af.fad99"
            ]
        ]
    },
    {
        "id": "6d8c18af.fad99",
        "type": "function",
        "z": "4ad56de3.33d4e4",
        "name": "RandomValues",
        "func": "msg.payload = Math.round(Math.floor(Math.random()*1400 ) + 100);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 180,
        "wires": [
            [
                "f576b334.d92dd"
            ]
        ]
    },
    {
        "id": "f576b334.d92dd",
        "type": "function",
        "z": "4ad56de3.33d4e4",
        "name": "SetParam",
        "func": "msg.idx = 22;\nmsg.value = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 180,
        "wires": [
            [
                "f2093cca.f56a3"
            ]
        ]
    },
    {
        "id": "f2093cca.f56a3",
        "type": "subflow:4418cbb5908845ca",
        "z": "4ad56de3.33d4e4",
        "name": "",
        "env": [],
        "x": 800,
        "y": 180,
        "wires": [
            [
                "a3abbe01.2e2a98"
            ]
        ]
    },
    {
        "id": "a3abbe01.2e2a98",
        "type": "debug",
        "z": "4ad56de3.33d4e4",
        "name": "Temp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 180,
        "wires": []
    },
    {
        "id": "8ef8fa74.a6d0c",
        "type": "inject",
        "z": "4ad56de3.33d4e4",
        "name": "CheckFire",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 620,
        "wires": [
            [
                "ef0c965b.5bb6f"
            ]
        ]
    },
    {
        "id": "ef0c965b.5bb6f",
        "type": "function",
        "z": "4ad56de3.33d4e4",
        "name": "TryReadingTemperature&CO2",
        "func": "msg.idx = 20;\nmsg.temp = msg.out;\nmsg.idx = 22;\nmsg.CO2 = msg.out;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 620,
        "wires": [
            [
                "1f91230c.3eca25"
            ]
        ]
    },
    {
        "id": "1f91230c.3eca25",
        "type": "subflow:66f9eac382c6787f",
        "z": "4ad56de3.33d4e4",
        "name": "",
        "env": [],
        "x": 780,
        "y": 620,
        "wires": [
            [
                "f6a5aaf2.e333f8",
                "43383c58.47f6dc"
            ]
        ]
    },
    {
        "id": "43383c58.47f6dc",
        "type": "function",
        "z": "4ad56de3.33d4e4",
        "name": "SetParam",
        "func": "msg.idx = 23;\n\n\nif(msg.temp > 40 && msg.CO2 > 1199) {\n    msg.value = true;\n}else{\n    msg.value = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 620,
        "wires": [
            [
                "9c639ac9.b921c8"
            ]
        ]
    },
    {
        "id": "9c639ac9.b921c8",
        "type": "subflow:4418cbb5908845ca",
        "z": "4ad56de3.33d4e4",
        "name": "",
        "env": [],
        "x": 1180,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "f6a5aaf2.e333f8",
        "type": "debug",
        "z": "4ad56de3.33d4e4",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "out",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 680,
        "wires": []
    },
    {
        "id": "f8147eb8.0270a8",
        "type": "inject",
        "z": "4ad56de3.33d4e4",
        "name": "CheckHumidity",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 800,
        "wires": [
            [
                "770b4613.81e058"
            ]
        ]
    },
    {
        "id": "770b4613.81e058",
        "type": "function",
        "z": "4ad56de3.33d4e4",
        "name": "TryReadingHumiditySensor",
        "func": "msg.idx = 24;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 800,
        "wires": [
            [
                "23f5cedc.b7ed82"
            ]
        ]
    },
    {
        "id": "23f5cedc.b7ed82",
        "type": "subflow:66f9eac382c6787f",
        "z": "4ad56de3.33d4e4",
        "name": "",
        "env": [],
        "x": 220,
        "y": 920,
        "wires": [
            [
                "7d1e21a3.0e127",
                "d793672a.9b191"
            ]
        ]
    },
    {
        "id": "d793672a.9b191",
        "type": "function",
        "z": "4ad56de3.33d4e4",
        "name": "SetParam",
        "func": "msg.idx = 25;\n\n\nif(msg.out < 50 || msg.out > 70) {\n    msg.value = true;\n}else{\n    msg.value = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 920,
        "wires": [
            [
                "20c089b6.328d66"
            ]
        ]
    },
    {
        "id": "20c089b6.328d66",
        "type": "subflow:4418cbb5908845ca",
        "z": "4ad56de3.33d4e4",
        "name": "",
        "env": [],
        "x": 620,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "7d1e21a3.0e127",
        "type": "debug",
        "z": "4ad56de3.33d4e4",
        "name": "Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "out",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 980,
        "wires": []
    },
    {
        "id": "818c9d29.727c8",
        "type": "inject",
        "z": "4ad56de3.33d4e4",
        "name": "CheckMovement",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "7",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 1080,
        "wires": [
            [
                "31aaaaa1.1661a6"
            ]
        ]
    },
    {
        "id": "31aaaaa1.1661a6",
        "type": "function",
        "z": "4ad56de3.33d4e4",
        "name": "TryReadingPresenceSensor",
        "func": "msg.idx = 26;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1080,
        "wires": [
            [
                "42046aa6.efcf74"
            ]
        ]
    },
    {
        "id": "42046aa6.efcf74",
        "type": "subflow:2ececf23ef45fcf4",
        "z": "4ad56de3.33d4e4",
        "name": "",
        "env": [],
        "x": 210,
        "y": 1160,
        "wires": [
            [
                "3dc14d8d.619fea",
                "482bc2b.5082dbc"
            ]
        ]
    },
    {
        "id": "3dc14d8d.619fea",
        "type": "switch",
        "z": "4ad56de3.33d4e4",
        "name": "ProcessResponse",
        "property": "out",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 1160,
        "wires": [
            [
                "258a04db.69a26c"
            ],
            [
                "ae4fe4be.62e2c8"
            ]
        ]
    },
    {
        "id": "258a04db.69a26c",
        "type": "function",
        "z": "4ad56de3.33d4e4",
        "name": "LightON",
        "func": "msg.idx = 27;\nmsg.value = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1140,
        "wires": [
            [
                "f64d046e.d082c"
            ]
        ]
    },
    {
        "id": "ae4fe4be.62e2c8",
        "type": "function",
        "z": "4ad56de3.33d4e4",
        "name": "LightOFF",
        "func": "msg.idx = 27;\nmsg.value = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1240,
        "wires": [
            [
                "a8ab36c5.695028"
            ]
        ]
    },
    {
        "id": "f64d046e.d082c",
        "type": "subflow:4418cbb5908845ca",
        "z": "4ad56de3.33d4e4",
        "name": "",
        "env": [],
        "x": 780,
        "y": 1140,
        "wires": [
            [
                "e515b326.21f728",
                "9a437b24.bf3a7"
            ]
        ]
    },
    {
        "id": "e515b326.21f728",
        "type": "debug",
        "z": "4ad56de3.33d4e4",
        "name": "Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 1180,
        "wires": []
    },
    {
        "id": "482bc2b.5082dbc",
        "type": "debug",
        "z": "4ad56de3.33d4e4",
        "name": "Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 1220,
        "wires": []
    },
    {
        "id": "9a437b24.bf3a7",
        "type": "delay",
        "z": "4ad56de3.33d4e4",
        "name": "Wait",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 780,
        "y": 1180,
        "wires": [
            [
                "ae4fe4be.62e2c8"
            ]
        ]
    },
    {
        "id": "a8ab36c5.695028",
        "type": "subflow:4418cbb5908845ca",
        "z": "4ad56de3.33d4e4",
        "name": "",
        "x": 780,
        "y": 1240,
        "wires": [
            [
                "e515b326.21f728"
            ]
        ]
    },
    {
        "id": "7b6633af.2f548c",
        "type": "inject",
        "z": "4ad56de3.33d4e4",
        "name": "RandomizePresenceSensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "7260f055.736c1"
            ]
        ]
    },
    {
        "id": "7260f055.736c1",
        "type": "function",
        "z": "4ad56de3.33d4e4",
        "name": "RandomValues",
        "func": "var ran = Math.random()*10;\nif(ran > 4) msg.payload = true;\nelse msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 240,
        "wires": [
            [
                "2ee01cb6.8ea89c"
            ]
        ]
    },
    {
        "id": "2ee01cb6.8ea89c",
        "type": "function",
        "z": "4ad56de3.33d4e4",
        "name": "SetParam",
        "func": "msg.idx = 26;\nmsg.value = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 240,
        "wires": [
            [
                "d0f2cb5b.d01b88"
            ]
        ]
    },
    {
        "id": "d0f2cb5b.d01b88",
        "type": "subflow:4418cbb5908845ca",
        "z": "4ad56de3.33d4e4",
        "name": "",
        "env": [],
        "x": 780,
        "y": 240,
        "wires": [
            [
                "e7058fee.8fcc2"
            ]
        ]
    },
    {
        "id": "e7058fee.8fcc2",
        "type": "debug",
        "z": "4ad56de3.33d4e4",
        "name": "Presence",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 240,
        "wires": []
    },
    {
        "id": "e8ba323e.766e5",
        "type": "inject",
        "z": "4ad56de3.33d4e4",
        "name": "CheckAccess",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "7",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 1400,
        "wires": [
            [
                "618ff5ce.64fb34"
            ]
        ]
    },
    {
        "id": "618ff5ce.64fb34",
        "type": "function",
        "z": "4ad56de3.33d4e4",
        "name": "TryReadingAccessSensor",
        "func": "msg.idx = 28;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1400,
        "wires": [
            [
                "9755cb6e.9d03e"
            ]
        ]
    },
    {
        "id": "9755cb6e.9d03e",
        "type": "subflow:2ececf23ef45fcf4",
        "z": "4ad56de3.33d4e4",
        "name": "",
        "env": [],
        "x": 210,
        "y": 1480,
        "wires": [
            [
                "3ab5ac7c.3adbd4",
                "7b5c32d8.e04b94"
            ]
        ]
    },
    {
        "id": "8fb049f0.31e008",
        "type": "function",
        "z": "4ad56de3.33d4e4",
        "name": "RandomAccessControl",
        "func": "msg.idx = 29;\n\nvar ran = Math.random()*10;\nif(ran > 7) msg.value = true;\nelse msg.value = false;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1480,
        "wires": [
            [
                "54ce016c.09c9d"
            ]
        ]
    },
    {
        "id": "54ce016c.09c9d",
        "type": "subflow:4418cbb5908845ca",
        "z": "4ad56de3.33d4e4",
        "name": "",
        "env": [],
        "x": 920,
        "y": 1480,
        "wires": [
            [
                "caf8cd00.e4639"
            ]
        ]
    },
    {
        "id": "3ab5ac7c.3adbd4",
        "type": "debug",
        "z": "4ad56de3.33d4e4",
        "name": "Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 1540,
        "wires": []
    },
    {
        "id": "df5387e4.94334",
        "type": "inject",
        "z": "4ad56de3.33d4e4",
        "name": "RandomizeAccessSensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "7",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "d03b7793.1d8b38"
            ]
        ]
    },
    {
        "id": "d03b7793.1d8b38",
        "type": "function",
        "z": "4ad56de3.33d4e4",
        "name": "RandomValues",
        "func": "var ran = Math.random()*10;\nif(ran > 4) msg.payload = true;\nelse msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 300,
        "wires": [
            [
                "db7247af.555398"
            ]
        ]
    },
    {
        "id": "db7247af.555398",
        "type": "function",
        "z": "4ad56de3.33d4e4",
        "name": "SetParam",
        "func": "msg.idx = 28;\nmsg.value = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 300,
        "wires": [
            [
                "455bad88.b0aabc"
            ]
        ]
    },
    {
        "id": "455bad88.b0aabc",
        "type": "subflow:4418cbb5908845ca",
        "z": "4ad56de3.33d4e4",
        "name": "",
        "env": [],
        "x": 780,
        "y": 300,
        "wires": [
            [
                "c2517f08.76377"
            ]
        ]
    },
    {
        "id": "c2517f08.76377",
        "type": "debug",
        "z": "4ad56de3.33d4e4",
        "name": "Presence",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 300,
        "wires": []
    },
    {
        "id": "caf8cd00.e4639",
        "type": "debug",
        "z": "4ad56de3.33d4e4",
        "name": "Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 1480,
        "wires": []
    },
    {
        "id": "7b5c32d8.e04b94",
        "type": "switch",
        "z": "4ad56de3.33d4e4",
        "name": "ProcessResponse",
        "property": "out",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 1480,
        "wires": [
            [
                "8fb049f0.31e008"
            ],
            []
        ]
    }
]