flows/ArmoryControlFlow.json
[{"id":"2ececf23ef45fcf4","type":"subflow","name":"GETBooleanSim","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"e1f99dd92a4d1d0d"}]}],"out":[{"x":500,"y":180,"wires":[{"id":"165ae1f02af4598f","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"e1f99dd92a4d1d0d","type":"function","z":"2ececf23ef45fcf4","name":"SetPayload","func":"msg.payload = \"GET \" + msg.idx + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":120,"wires":[["ee6f4bdcad778414"]]},{"id":"ee6f4bdcad778414","type":"tcp request","z":"2ececf23ef45fcf4","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"TCPRequest","x":270,"y":120,"wires":[["165ae1f02af4598f"]]},{"id":"165ae1f02af4598f","type":"function","z":"2ececf23ef45fcf4","name":"ReadResponse","func":"var out = msg.payload.toString('utf-8');\nmsg.payload = \"Response \" + out;\nvar arrayOut = out.split(\" \");\nif(arrayOut[0]==\"OK\" && arrayOut[1]==msg.idx)\n    msg.out = arrayOut[2].includes(\"true\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":120,"wires":[[]]},{"id":"66f9eac382c6787f","type":"subflow","name":"GETFloatSim","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"b8082cf2f5955f4f"}]}],"out":[{"x":520,"y":160,"wires":[{"id":"d071e41fcde96f11","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"b8082cf2f5955f4f","type":"function","z":"66f9eac382c6787f","name":"SetPayload","func":"msg.payload = \"GET \" + msg.idx + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":100,"wires":[["2e40b1d337130b00"]]},{"id":"2e40b1d337130b00","type":"tcp request","z":"66f9eac382c6787f","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"TCPRequest","x":270,"y":100,"wires":[["d071e41fcde96f11"]]},{"id":"d071e41fcde96f11","type":"function","z":"66f9eac382c6787f","name":"ReadResponse","func":"var out = msg.payload.toString('utf-8');\nmsg.payload = \"Response \" + out;\nvar arrayOut = out.split(\" \");\nif(arrayOut[0]==\"OK\" && arrayOut[1]==msg.idx)\n    msg.out = parseFloat(arrayOut[2]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":100,"wires":[[]]},{"id":"4418cbb5908845ca","type":"subflow","name":"SETSim","info":"","category":"","in":[{"x":40,"y":20,"wires":[{"id":"b299481f03467d6a"}]}],"out":[{"x":560,"y":40,"wires":[{"id":"5730bd93bf173b80","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"b299481f03467d6a","type":"function","z":"4418cbb5908845ca","name":"SetPayload","func":"msg.payload = \"SET \" + msg.idx + \" \" + msg.value + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":80,"wires":[["b1b038f5bd25dbdb"]]},{"id":"b1b038f5bd25dbdb","type":"tcp request","z":"4418cbb5908845ca","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"TCPRequest","x":270,"y":80,"wires":[["5730bd93bf173b80"]]},{"id":"5730bd93bf173b80","type":"function","z":"4418cbb5908845ca","name":"ReadResponse","func":"var out = msg.payload.toString('utf-8');\nmsg.payload = \"Response \" + out;\nvar arrayOut = out.split(\" \");\nif(arrayOut[0]==\"OK\")\n    msg.out = true;\nelse msg.out = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":80,"wires":[[]]},{"id":"4ad56de3.33d4e4","type":"tab","label":"ArmoryControl","disabled":false,"info":""},{"id":"3b89e7a5.ac8338","type":"group","z":"4ad56de3.33d4e4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["818c9d29.727c8","31aaaaa1.1661a6","42046aa6.efcf74","3dc14d8d.619fea","258a04db.69a26c","ae4fe4be.62e2c8","f64d046e.d082c","e515b326.21f728","482bc2b.5082dbc","9a437b24.bf3a7","a8ab36c5.695028","46ca1c18.7e9cf4"],"x":34,"y":1479,"w":1032,"h":282},{"id":"4c828418.627bfc","type":"group","z":"4ad56de3.33d4e4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["bd1f07c8.4cb688","8a647086.3f1ff8","e1fa68dd.4efe","1c09a774.017521","38f673fb.476ec4","e60986a6.d39f68","9fc117d0.6af5a8","646edaf7.85f5a4","edf80eb3.5e463","46b27f4.f5","6e6d27ef.198b68","6d8c18af.fad99","f576b334.d92dd","f2093cca.f56a3","a3abbe01.2e2a98","7b6633af.2f548c","7260f055.736c1","2ee01cb6.8ea89c","d0f2cb5b.d01b88","e7058fee.8fcc2","df5387e4.94334","d03b7793.1d8b38","db7247af.555398","455bad88.b0aabc","c2517f08.76377","a13f96b1.5a29f8","aa29a5c6.f5399","7dc534f4.df0254","86e50999.d439c8","43e49253.97090c","6721e62.5223218","36e175c0.b6785a"],"x":34,"y":39,"w":992,"h":502},{"id":"4edc445e.9a210c","type":"group","z":"4ad56de3.33d4e4","name":"","style":{"label":true},"nodes":["e8ba323e.766e5","618ff5ce.64fb34","9755cb6e.9d03e","8fb049f0.31e008","54ce016c.09c9d","3ab5ac7c.3adbd4","caf8cd00.e4639","7b5c32d8.e04b94","75ccb0e1.bd8f58","a91b2088.c9b3a","c1707947.783408","ffc510c9.84f868","c67de17a.29e9b8","76bab77c.f683b8","a364b1d3.06bc5"],"x":34,"y":2019,"w":1332,"h":262},{"id":"6e16ab92.1206ec","type":"group","z":"4ad56de3.33d4e4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["5ff28e50.06cfb","ef4d781c.05ba3","26e00828.e7fbe","3952895b.0e4796","7a1891c.2ccbff","1c638028.10b098","871d0c34.e4e988"],"x":34,"y":1799,"w":632,"h":182},{"id":"84676248.2eb65","type":"group","z":"4ad56de3.33d4e4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c6e664c8.20a69","60efeb2d.10194c","eee77def.0616","f2fb0186.46b2e","f95a16af.8c7b5","ebe331bf.11302","dc3a8373.0bc588","4fbd0e1.85f73f","e0e754ac.4771d","783194be.321664"],"x":34,"y":579,"w":792,"h":262},{"id":"a3bb6ec4.cda158","type":"group","z":"4ad56de3.33d4e4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b05a3e44.69caf","722654a5.e2270c","615a2e21.c33048","5e05855c.440364","ad861018.9246d8","ff52abf9.37602","3c2721c2.436c6e","3988f530.aed802","1fff1e0c.fd86ca","b7688f8.8f5d7f","58f29146.a53578"],"x":34,"y":2339,"w":712,"h":262},{"id":"a5321fc8.5f878","type":"group","z":"4ad56de3.33d4e4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["8ef8fa74.a6d0c","ef0c965b.5bb6f","1f91230c.3eca25","43383c58.47f6dc","9c639ac9.b921c8","f6a5aaf2.e333f8","eca3ed07.733f3","6605e445.d0e94c","f5f886f9.714f48","6a97d4be.819134","5dfcd056.2e90a8"],"x":34,"y":879,"w":852,"h":262},{"id":"cfb432d8.66036","type":"group","z":"4ad56de3.33d4e4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f8147eb8.0270a8","770b4613.81e058","23f5cedc.b7ed82","d793672a.9b191","20c089b6.328d66","7d1e21a3.0e127","6f5df2af.32e8dc","477d8a22.f8b9f4","aeb58ece.d0b608","50dc5d24.54a55c"],"x":34,"y":1179,"w":812,"h":262},{"id":"bd1f07c8.4cb688","type":"inject","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"RandomizeTemperatureSensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":140,"wires":[["8a647086.3f1ff8"]]},{"id":"8a647086.3f1ff8","type":"function","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"RandomValues","func":"msg.payload = Math.round(Math.floor(Math.random()*40));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":140,"wires":[["e1fa68dd.4efe","7dc534f4.df0254","86e50999.d439c8"]]},{"id":"e1fa68dd.4efe","type":"function","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"SetParam","func":"msg.idx = 20;\nmsg.value = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":140,"wires":[["1c09a774.017521"]]},{"id":"1c09a774.017521","type":"subflow:4418cbb5908845ca","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"","env":[],"x":780,"y":140,"wires":[["edf80eb3.5e463"]]},{"id":"c6e664c8.20a69","type":"inject","z":"4ad56de3.33d4e4","g":"84676248.2eb65","name":"CheckTemperature","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":680,"wires":[["60efeb2d.10194c"]]},{"id":"60efeb2d.10194c","type":"function","z":"4ad56de3.33d4e4","g":"84676248.2eb65","name":"TryReadingTemperatureSensor","func":"msg.idx = 20;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":680,"wires":[["eee77def.0616"]]},{"id":"eee77def.0616","type":"subflow:66f9eac382c6787f","z":"4ad56de3.33d4e4","g":"84676248.2eb65","name":"","env":[],"x":200,"y":740,"wires":[["ebe331bf.11302","f2fb0186.46b2e","4fbd0e1.85f73f"]]},{"id":"f2fb0186.46b2e","type":"function","z":"4ad56de3.33d4e4","g":"84676248.2eb65","name":"SetParam","func":"msg.idx = 21;\n\n\nif(msg.out < 19 || msg.out > 21) {\n    msg.value = true;\n}else{\n    msg.value = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":740,"wires":[["f95a16af.8c7b5"]]},{"id":"f95a16af.8c7b5","type":"subflow:4418cbb5908845ca","z":"4ad56de3.33d4e4","g":"84676248.2eb65","name":"","env":[],"x":600,"y":740,"wires":[[]]},{"id":"38f673fb.476ec4","type":"inject","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"RandomizeHumiditySensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"12","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":240,"wires":[["e60986a6.d39f68"]]},{"id":"e60986a6.d39f68","type":"function","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"RandomValues","func":"msg.payload = Math.round(Math.floor(Math.random()*80)+ 10);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":240,"wires":[["9fc117d0.6af5a8","a13f96b1.5a29f8","aa29a5c6.f5399"]]},{"id":"9fc117d0.6af5a8","type":"function","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"SetParam","func":"msg.idx = 24;\nmsg.value = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":240,"wires":[["646edaf7.85f5a4"]]},{"id":"646edaf7.85f5a4","type":"subflow:4418cbb5908845ca","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"","env":[],"x":760,"y":240,"wires":[["46b27f4.f5"]]},{"id":"ebe331bf.11302","type":"debug","z":"4ad56de3.33d4e4","g":"84676248.2eb65","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"out","targetType":"msg","statusVal":"","statusType":"auto","x":250,"y":800,"wires":[]},{"id":"edf80eb3.5e463","type":"debug","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"Temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":140,"wires":[]},{"id":"46b27f4.f5","type":"debug","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"Presence","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":240,"wires":[]},{"id":"6e6d27ef.198b68","type":"inject","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"RandomizeCO2Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":340,"wires":[["6d8c18af.fad99"]]},{"id":"6d8c18af.fad99","type":"function","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"RandomValues","func":"msg.payload = Math.round(Math.floor(Math.random()*1400 ) + 100);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":340,"wires":[["f576b334.d92dd","43e49253.97090c","6721e62.5223218"]]},{"id":"f576b334.d92dd","type":"function","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"SetParam","func":"msg.idx = 22;\nmsg.value = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":340,"wires":[["f2093cca.f56a3"]]},{"id":"f2093cca.f56a3","type":"subflow:4418cbb5908845ca","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"","env":[],"x":780,"y":340,"wires":[["a3abbe01.2e2a98"]]},{"id":"a3abbe01.2e2a98","type":"debug","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"Temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":340,"wires":[]},{"id":"8ef8fa74.a6d0c","type":"inject","z":"4ad56de3.33d4e4","g":"a5321fc8.5f878","name":"CheckFire","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":980,"wires":[["ef0c965b.5bb6f"]]},{"id":"ef0c965b.5bb6f","type":"function","z":"4ad56de3.33d4e4","g":"a5321fc8.5f878","name":"TryReadingTemperature&CO2","func":"msg.idx = 20;\nmsg.temp = msg.out;\nmsg.idx = 22;\nmsg.CO2 = msg.out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":980,"wires":[["1f91230c.3eca25"]]},{"id":"1f91230c.3eca25","type":"subflow:66f9eac382c6787f","z":"4ad56de3.33d4e4","g":"a5321fc8.5f878","name":"","env":[],"x":160,"y":1040,"wires":[["f6a5aaf2.e333f8","43383c58.47f6dc"]]},{"id":"43383c58.47f6dc","type":"function","z":"4ad56de3.33d4e4","g":"a5321fc8.5f878","name":"SetParam","func":"msg.idx = 23;\n\n\nif(msg.temp > 40 && msg.CO2 > 1199) {\n    msg.value = true;\n}else{\n    msg.value = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":1040,"wires":[["9c639ac9.b921c8","eca3ed07.733f3"]]},{"id":"9c639ac9.b921c8","type":"subflow:4418cbb5908845ca","z":"4ad56de3.33d4e4","g":"a5321fc8.5f878","name":"","env":[],"x":500,"y":1040,"wires":[[]]},{"id":"f6a5aaf2.e333f8","type":"debug","z":"4ad56de3.33d4e4","g":"a5321fc8.5f878","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"out","targetType":"msg","statusVal":"","statusType":"auto","x":190,"y":1100,"wires":[]},{"id":"f8147eb8.0270a8","type":"inject","z":"4ad56de3.33d4e4","g":"cfb432d8.66036","name":"CheckHumidity","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1280,"wires":[["770b4613.81e058"]]},{"id":"770b4613.81e058","type":"function","z":"4ad56de3.33d4e4","g":"cfb432d8.66036","name":"TryReadingHumiditySensor","func":"msg.idx = 24;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1280,"wires":[["23f5cedc.b7ed82"]]},{"id":"23f5cedc.b7ed82","type":"subflow:66f9eac382c6787f","z":"4ad56de3.33d4e4","g":"cfb432d8.66036","name":"","env":[],"x":160,"y":1340,"wires":[["7d1e21a3.0e127","d793672a.9b191","477d8a22.f8b9f4"]]},{"id":"d793672a.9b191","type":"function","z":"4ad56de3.33d4e4","g":"cfb432d8.66036","name":"SetParam","func":"msg.idx = 25;\n\n\nif(msg.out < 50 || msg.out > 70) {\n    msg.value = true;\n}else{\n    msg.value = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1340,"wires":[["20c089b6.328d66"]]},{"id":"20c089b6.328d66","type":"subflow:4418cbb5908845ca","z":"4ad56de3.33d4e4","g":"cfb432d8.66036","name":"","env":[],"x":560,"y":1340,"wires":[[]]},{"id":"7d1e21a3.0e127","type":"debug","z":"4ad56de3.33d4e4","g":"cfb432d8.66036","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"out","targetType":"msg","statusVal":"","statusType":"auto","x":230,"y":1400,"wires":[]},{"id":"818c9d29.727c8","type":"inject","z":"4ad56de3.33d4e4","g":"3b89e7a5.ac8338","name":"CheckMovement","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"7","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":1580,"wires":[["31aaaaa1.1661a6"]]},{"id":"31aaaaa1.1661a6","type":"function","z":"4ad56de3.33d4e4","g":"3b89e7a5.ac8338","name":"TryReadingPresenceSensor","func":"msg.idx = 26;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1580,"wires":[["42046aa6.efcf74"]]},{"id":"42046aa6.efcf74","type":"subflow:2ececf23ef45fcf4","z":"4ad56de3.33d4e4","g":"3b89e7a5.ac8338","name":"","env":[],"x":190,"y":1640,"wires":[["3dc14d8d.619fea","482bc2b.5082dbc"]]},{"id":"3dc14d8d.619fea","type":"switch","z":"4ad56de3.33d4e4","g":"3b89e7a5.ac8338","name":"ProcessResponse","property":"out","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":1640,"wires":[["258a04db.69a26c"],["ae4fe4be.62e2c8"]]},{"id":"258a04db.69a26c","type":"function","z":"4ad56de3.33d4e4","g":"3b89e7a5.ac8338","name":"LightON","func":"msg.idx = 27;\nmsg.value = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1620,"wires":[["f64d046e.d082c"]]},{"id":"ae4fe4be.62e2c8","type":"function","z":"4ad56de3.33d4e4","g":"3b89e7a5.ac8338","name":"LightOFF","func":"msg.idx = 27;\nmsg.value = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":1720,"wires":[["a8ab36c5.695028"]]},{"id":"f64d046e.d082c","type":"subflow:4418cbb5908845ca","z":"4ad56de3.33d4e4","g":"3b89e7a5.ac8338","name":"","env":[],"x":760,"y":1620,"wires":[["e515b326.21f728","9a437b24.bf3a7"]]},{"id":"e515b326.21f728","type":"debug","z":"4ad56de3.33d4e4","g":"3b89e7a5.ac8338","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":1660,"wires":[]},{"id":"482bc2b.5082dbc","type":"debug","z":"4ad56de3.33d4e4","g":"3b89e7a5.ac8338","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":250,"y":1700,"wires":[]},{"id":"9a437b24.bf3a7","type":"delay","z":"4ad56de3.33d4e4","g":"3b89e7a5.ac8338","name":"Wait","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":1660,"wires":[["ae4fe4be.62e2c8"]]},{"id":"a8ab36c5.695028","type":"subflow:4418cbb5908845ca","z":"4ad56de3.33d4e4","g":"3b89e7a5.ac8338","name":"","x":760,"y":1720,"wires":[["e515b326.21f728"]]},{"id":"7b6633af.2f548c","type":"inject","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"RandomizePresenceSensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":440,"wires":[["7260f055.736c1"]]},{"id":"7260f055.736c1","type":"function","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"RandomValues","func":"var ran = Math.random()*10;\nif(ran > 4) msg.payload = true;\nelse msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":440,"wires":[["2ee01cb6.8ea89c"]]},{"id":"2ee01cb6.8ea89c","type":"function","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"SetParam","func":"msg.idx = 26;\nmsg.value = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":440,"wires":[["d0f2cb5b.d01b88"]]},{"id":"d0f2cb5b.d01b88","type":"subflow:4418cbb5908845ca","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"","env":[],"x":720,"y":440,"wires":[["e7058fee.8fcc2"]]},{"id":"e7058fee.8fcc2","type":"debug","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"Presence","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":440,"wires":[]},{"id":"e8ba323e.766e5","type":"inject","z":"4ad56de3.33d4e4","g":"4edc445e.9a210c","name":"CheckAccess","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"7","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":2120,"wires":[["618ff5ce.64fb34"]]},{"id":"618ff5ce.64fb34","type":"function","z":"4ad56de3.33d4e4","g":"4edc445e.9a210c","name":"TryReadingAccessSensor","func":"msg.idx = 28;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":2120,"wires":[["9755cb6e.9d03e"]]},{"id":"9755cb6e.9d03e","type":"subflow:2ececf23ef45fcf4","z":"4ad56de3.33d4e4","g":"4edc445e.9a210c","name":"","env":[],"x":190,"y":2180,"wires":[["3ab5ac7c.3adbd4","7b5c32d8.e04b94"]]},{"id":"8fb049f0.31e008","type":"function","z":"4ad56de3.33d4e4","g":"4edc445e.9a210c","name":"RandomAccessControl","func":"msg.idx = 29;\n\nvar ran = Math.random()*10;\nif(ran > 7) msg.value = true;\nelse msg.value = false;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":2180,"wires":[["54ce016c.09c9d","a91b2088.c9b3a","ffc510c9.84f868","76bab77c.f683b8"]]},{"id":"54ce016c.09c9d","type":"subflow:4418cbb5908845ca","z":"4ad56de3.33d4e4","g":"4edc445e.9a210c","name":"","env":[],"x":860,"y":2180,"wires":[["caf8cd00.e4639"]]},{"id":"3ab5ac7c.3adbd4","type":"debug","z":"4ad56de3.33d4e4","g":"4edc445e.9a210c","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":250,"y":2240,"wires":[]},{"id":"df5387e4.94334","type":"inject","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"RandomizeAccessSensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"7","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":500,"wires":[["d03b7793.1d8b38"]]},{"id":"d03b7793.1d8b38","type":"function","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"RandomValues","func":"var ran = Math.random()*10;\nif(ran > 4) msg.payload = true;\nelse msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":500,"wires":[["db7247af.555398"]]},{"id":"db7247af.555398","type":"function","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"SetParam","func":"msg.idx = 28;\nmsg.value = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":500,"wires":[["455bad88.b0aabc"]]},{"id":"455bad88.b0aabc","type":"subflow:4418cbb5908845ca","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"","env":[],"x":760,"y":500,"wires":[["c2517f08.76377"]]},{"id":"c2517f08.76377","type":"debug","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"Presence","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":500,"wires":[]},{"id":"caf8cd00.e4639","type":"debug","z":"4ad56de3.33d4e4","g":"4edc445e.9a210c","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":2180,"wires":[]},{"id":"7b5c32d8.e04b94","type":"switch","z":"4ad56de3.33d4e4","g":"4edc445e.9a210c","name":"ProcessResponse","property":"out","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":2180,"wires":[["8fb049f0.31e008"],[]]},{"id":"a13f96b1.5a29f8","type":"ui_gauge","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"","group":"9a23df28.a5b248","order":7,"width":6,"height":4,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}%","min":"10","max":"100","colors":["#ca3838","#00b500","#ca3838"],"seg1":"30","seg2":"50","className":"","x":460,"y":280,"wires":[]},{"id":"aa29a5c6.f5399","type":"ui_chart","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"","group":"9a23df28.a5b248","order":8,"width":6,"height":4,"label":"Humidity over time","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"no data yet","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":630,"y":280,"wires":[[]]},{"id":"7dc534f4.df0254","type":"ui_gauge","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"","group":"9a23df28.a5b248","order":4,"width":6,"height":4,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}°C","min":0,"max":"40","colors":["#150e90","#00b500","#ca3838"],"seg1":"19","seg2":"22","className":"","x":470,"y":180,"wires":[]},{"id":"86e50999.d439c8","type":"ui_chart","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"TempTime","group":"9a23df28.a5b248","order":5,"width":6,"height":4,"label":"Temperature over time","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"no data yet","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":630,"y":180,"wires":[[]]},{"id":"43e49253.97090c","type":"ui_gauge","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"CO2Gauge","group":"9a23df28.a5b248","order":1,"width":6,"height":4,"gtype":"gage","title":"CO2","label":"units","format":"{{value}} ppm","min":"100","max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1000","seg2":"1200","className":"","x":470,"y":380,"wires":[]},{"id":"6721e62.5223218","type":"ui_chart","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"CO2Time","group":"9a23df28.a5b248","order":2,"width":6,"height":4,"label":"CO2 over time","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"no data yet","dot":false,"ymin":"100","ymax":"1500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":620,"y":380,"wires":[[]]},{"id":"dc3a8373.0bc588","type":"mqtt out","z":"4ad56de3.33d4e4","g":"84676248.2eb65","name":"Notify","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6f8d8e927d3fc46d","x":750,"y":800,"wires":[]},{"id":"4fbd0e1.85f73f","type":"function","z":"4ad56de3.33d4e4","g":"84676248.2eb65","name":"TemperatureLog","func":"msg.payload = {};\nmsg.payload.description = \"Temperature\";\nmsg.payload.content = msg.out;\nmsg.topic = \"smartbarracks/armory/temperature\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":800,"wires":[["e0e754ac.4771d"]]},{"id":"e0e754ac.4771d","type":"template","z":"4ad56de3.33d4e4","g":"84676248.2eb65","name":"FormatMsg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.description}}: {{payload.content}}°C","output":"str","x":610,"y":800,"wires":[["dc3a8373.0bc588"]]},{"id":"6f5df2af.32e8dc","type":"mqtt out","z":"4ad56de3.33d4e4","g":"cfb432d8.66036","name":"Notify","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6f8d8e927d3fc46d","x":770,"y":1380,"wires":[]},{"id":"477d8a22.f8b9f4","type":"function","z":"4ad56de3.33d4e4","g":"cfb432d8.66036","name":"HumidityLog","func":"msg.payload = {};\nmsg.payload.description = \"Humidity\";\nmsg.payload.content = msg.out;\nmsg.topic = \"smartbarracks/armory/humidity\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":1380,"wires":[["aeb58ece.d0b608"]]},{"id":"aeb58ece.d0b608","type":"template","z":"4ad56de3.33d4e4","g":"cfb432d8.66036","name":"FormatMsg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.description}}: {{payload.content}}%","output":"str","x":630,"y":1380,"wires":[["6f5df2af.32e8dc"]]},{"id":"eca3ed07.733f3","type":"switch","z":"4ad56de3.33d4e4","g":"a5321fc8.5f878","name":"","property":"value","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":1100,"wires":[["f5f886f9.714f48"]]},{"id":"6605e445.d0e94c","type":"mqtt out","z":"4ad56de3.33d4e4","g":"a5321fc8.5f878","name":"Notify","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6f8d8e927d3fc46d","x":810,"y":1100,"wires":[]},{"id":"f5f886f9.714f48","type":"function","z":"4ad56de3.33d4e4","g":"a5321fc8.5f878","name":"FireAlarm","func":"msg.payload = {};\nmsg.payload.description = \"FIRE ALARM: Armory\";\nmsg.payload.content = msg.out;\nmsg.topic = \"smartbarracks/alarm\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1100,"wires":[["6a97d4be.819134"]]},{"id":"6a97d4be.819134","type":"template","z":"4ad56de3.33d4e4","g":"a5321fc8.5f878","name":"FormatMsg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.description}}","output":"str","x":670,"y":1100,"wires":[["6605e445.d0e94c"]]},{"id":"5ff28e50.06cfb","type":"mqtt out","z":"4ad56de3.33d4e4","g":"6e16ab92.1206ec","name":"Notify","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6f8d8e927d3fc46d","x":470,"y":1940,"wires":[]},{"id":"ef4d781c.05ba3","type":"function","z":"4ad56de3.33d4e4","g":"6e16ab92.1206ec","name":"CO2Log","func":"msg.payload = {};\nmsg.payload.description = \"CO2\";\nmsg.payload.content = msg.out;\nmsg.topic = \"smartbarracks/armory/CO2\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":1940,"wires":[["26e00828.e7fbe"]]},{"id":"26e00828.e7fbe","type":"template","z":"4ad56de3.33d4e4","g":"6e16ab92.1206ec","name":"FormatMsg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.content}}ppm","output":"str","x":330,"y":1940,"wires":[["5ff28e50.06cfb"]]},{"id":"3952895b.0e4796","type":"inject","z":"4ad56de3.33d4e4","g":"6e16ab92.1206ec","name":"CheckCO2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1900,"wires":[["7a1891c.2ccbff"]]},{"id":"7a1891c.2ccbff","type":"function","z":"4ad56de3.33d4e4","g":"6e16ab92.1206ec","name":"TryReadingCO2Sensor","func":"msg.idx = 22;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1900,"wires":[["1c638028.10b098"]]},{"id":"1c638028.10b098","type":"subflow:66f9eac382c6787f","z":"4ad56de3.33d4e4","g":"6e16ab92.1206ec","name":"","env":[],"x":560,"y":1900,"wires":[["ef4d781c.05ba3"]]},{"id":"75ccb0e1.bd8f58","type":"mqtt out","z":"4ad56de3.33d4e4","g":"4edc445e.9a210c","name":"Notify","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6f8d8e927d3fc46d","x":1150,"y":2120,"wires":[]},{"id":"a91b2088.c9b3a","type":"function","z":"4ad56de3.33d4e4","g":"4edc445e.9a210c","name":"AccessAlarm","func":"msg.payload = {};\nmsg.payload.description = \"ARMORY UNAUTHORIZED ACCESS\";\nmsg.payload.content = msg.out;\nmsg.topic = \"smartbarracks/alarm\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":2120,"wires":[["c1707947.783408"]]},{"id":"c1707947.783408","type":"template","z":"4ad56de3.33d4e4","g":"4edc445e.9a210c","name":"FormatMsg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.description}}","output":"str","x":1010,"y":2120,"wires":[["75ccb0e1.bd8f58"]]},{"id":"ffc510c9.84f868","type":"debug","z":"4ad56de3.33d4e4","g":"4edc445e.9a210c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"value","targetType":"msg","statusVal":"value","statusType":"auto","x":630,"y":2240,"wires":[]},{"id":"c67de17a.29e9b8","type":"mongodb3 in","z":"4ad56de3.33d4e4","g":"4edc445e.9a210c","service":"_ext_","configNode":"552863e0.b3178c","name":"","collection":"AccessLogs","operation":"","x":1140,"y":2240,"wires":[[]]},{"id":"76bab77c.f683b8","type":"function","z":"4ad56de3.33d4e4","g":"4edc445e.9a210c","name":"RandomInsert","func":"function getRandomName() {\n    const names = [\"John\", \"Jane\", \"Alice\", \"Bob\", \"Charlie\", \"Dana\", \"Eve\", \"Frank\", \"Grace\", \"Hank\"];\n    const surnames = [\"Smith\", \"Johnson\", \"Williams\", \"Jones\", \"Brown\", \"Davis\", \"Miller\", \"Wilson\", \"Moore\", \"Taylor\"];\n    const randomName = names[Math.floor(Math.random() * names.length)];\n    const randomSurname = surnames[Math.floor(Math.random() * surnames.length)];\n    return `${randomName} ${randomSurname}`;\n}\n\nfunction getRandomTimestamp() {\n    const randomHour = Math.floor(Math.random() * 24); // Random hour between 0 and 23\n    const randomMinute = Math.floor(Math.random() * 60); // Random minute between 0 and 59\n    const randomDay = Math.floor(Math.random() * 31) + 1; // Random day between 1 and 31\n    const randomMonth = Math.floor(Math.random() * 12) + 1; // Random month between 1 and 12\n    const year = 2024; // Fixed year\n\n    // Formatting the values to ensure two digits for hours, minutes, days, and months\n    const formattedHour = randomHour.toString().padStart(2, '0');\n    const formattedMinute = randomMinute.toString().padStart(2, '0');\n    const formattedDay = randomDay.toString().padStart(2, '0');\n    const formattedMonth = randomMonth.toString().padStart(2, '0');\n\n    return `${formattedDay}/${formattedMonth}/${year} - ${formattedHour}:${formattedMinute}`;\n}\n\n\nmsg.operation = \"insert\";\n\nvar access = msg.value;\nvar user = getRandomName();\nvar timestamp = getRandomTimestamp();\n\nmsg.payload = [{\"timestamp\" : timestamp, \"name\" : user, \"access\" : access}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":2240,"wires":[["c67de17a.29e9b8"]]},{"id":"b05a3e44.69caf","type":"mongodb3 in","z":"4ad56de3.33d4e4","g":"a3bb6ec4.cda158","service":"_ext_","configNode":"552863e0.b3178c","name":"","collection":"AccessLogs","operation":"find.toArray","x":470,"y":2440,"wires":[["615a2e21.c33048"]]},{"id":"722654a5.e2270c","type":"http in","z":"4ad56de3.33d4e4","g":"a3bb6ec4.cda158","name":"","url":"/armorylogs","method":"get","upload":false,"swaggerDoc":"","x":140,"y":2440,"wires":[["b05a3e44.69caf"]]},{"id":"615a2e21.c33048","type":"function","z":"4ad56de3.33d4e4","g":"a3bb6ec4.cda158","name":"Transform Payload","func":"const data = Object.values(msg.payload).map(item => {\n    return {\n        ...item,\n        access: item.access ? 'unauthorized' : 'authorized'\n    };\n});\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":2500,"wires":[["5e05855c.440364"]]},{"id":"5e05855c.440364","type":"template","z":"4ad56de3.33d4e4","g":"a3bb6ec4.cda158","name":"ArmoryAccessLogTable","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Armory Access</title>\n    <link href=\"https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css\" rel=\"stylesheet\" />\n    <script src=\"https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js\"></script>\n</head>\n<body>\n    <div style=\"display:flex;justify-content:center;align-items:center;\">\n        <h2>Armory access logs</h2>\n    </div>\n    \n    <div style=\"display:flex;justify-content:center;align-items:center;\">\n        <div id=\"wrapper\"></div>\n    </div>\n    \n    <script>\n        // prevent an user to access this page with direct link\n        // if so it will be redirected to the login page\n        window.onload = function() {\n            if(document.referrer == \"\") window.location.href = \"http://localhost:1880/login\";\n        }\n    </script>\n    <script>\n        document.addEventListener(\"DOMContentLoaded\", function() {\n        try {\n            const data = {{{payload}}};\n            new gridjs.Grid({\n                columns: [\"Timestamp\", \"Name\", \"Access\"],\n                data: data.map(item => [item.timestamp, item.name, item.access]),\n                pagination: {\n                    enabled: true,\n                    limit: 10\n                },\n                search: true,\n                sort: true,\n                width: 750,\n                style: {\n                    table: {\n                      border: '3px solid #ccc',\n                      'white-space': 'nowrap'\n                    },\n                    th: {\n                      'background-color': 'rgba(0, 0, 0, 0.1)',\n                      color: '#000',\n                      'border-bottom': '3px solid #ccc',\n                      'text-align': 'center'\n                    },\n                    td: {\n                      'text-align': 'center'\n                    }\n                }\n            }).render(document.getElementById(\"wrapper\"));\n    } catch (error) {\n        console.error(\"Error initializing Grid.js:\", error);\n    }\n});\n\n    </script>\n</body>\n</html>","output":"str","x":410,"y":2500,"wires":[["ad861018.9246d8"]]},{"id":"ad861018.9246d8","type":"http response","z":"4ad56de3.33d4e4","g":"a3bb6ec4.cda158","name":"","statusCode":"","headers":{},"x":610,"y":2500,"wires":[]},{"id":"ff52abf9.37602","type":"http in","z":"4ad56de3.33d4e4","g":"a3bb6ec4.cda158","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":120,"y":2560,"wires":[["b7688f8.8f5d7f"]]},{"id":"3c2721c2.436c6e","type":"template","z":"4ad56de3.33d4e4","g":"a3bb6ec4.cda158","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Armory logs login</title>\n    <style>{{{payload.style}}}</style>\n</head>\n<body>\n    <div class=\"container\">\n    <h1>Login</h1>\n    <form id=\"login-form\">\n      <div class=\"form-group\">\n        <label for=\"username\">Username</label>\n        <input type=\"text\" id=\"username\" name=\"username\" required>\n      </div>\n      <div class=\"form-group\">\n        <label for=\"password\">Password</label>\n        <input type=\"password\" id=\"password\" name=\"password\" required>\n      </div>\n      <button type=\"submit\">Log In</button>\n    </form>\n  </div>\n    <script>{{{payload.script}}}</script>\n</body>\n</html>\n","output":"str","x":530,"y":2560,"wires":[["1fff1e0c.fd86ca"]]},{"id":"3988f530.aed802","type":"template","z":"4ad56de3.33d4e4","g":"a3bb6ec4.cda158","name":"css","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"body {\n  font-family: sans-serif;\n  margin: 0;\n  padding: 0;\n  display: flex;\n  justify-content: center;\n  align-items: center;\n  min-height: 100vh;\n  background-color: #f0f0f0;\n}\n\n.container {\n  background-color: #fff;\n  padding: 30px;\n  border-radius: 5px;\n  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);\n  width: 300px;\n}\n\nh1 {\n  text-align: center;\n  margin-bottom: 20px;\n}\n\n.form-group {\n  margin-bottom: 15px;\n}\n\nlabel {\n  display: block;\n  margin-bottom: 5px;\n}\n\ninput[type=\"text\"],\ninput[type=\"password\"] {\n  width: 100%;\n  padding: 10px;\n  border: 1px solid #ccc;\n  border-radius: 3px;\n  box-sizing: border-box;\n}\n\nbutton {\n  background-color: #4CAF50;\n  color: white;\n  padding: 10px 20px;\n  border: none;\n  border-radius: 3px;\n  cursor: pointer;\n  transition: all 0.3s ease;\n}\n\nbutton:hover {\n  background-color: #3e8e41;\n}\n\n","output":"str","x":410,"y":2560,"wires":[["3c2721c2.436c6e"]]},{"id":"1fff1e0c.fd86ca","type":"http response","z":"4ad56de3.33d4e4","g":"a3bb6ec4.cda158","name":"","statusCode":"","headers":{},"x":670,"y":2560,"wires":[]},{"id":"b7688f8.8f5d7f","type":"template","z":"4ad56de3.33d4e4","g":"a3bb6ec4.cda158","name":"javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"document.getElementById('login-form').addEventListener('submit', function(event) {\n    \n    event.preventDefault();\n    \n    var username = document.getElementById('username').value;\n    var password = document.getElementById('password').value;\n\n    if(username === 'admin' && password === 'admin'){\n        window.location.replace(\"http://127.0.0.1:1880/armorylogs\");\n    } else {\n        alert(\"username / password not correct\");\n    }\n\n});","output":"str","x":280,"y":2560,"wires":[["3988f530.aed802"]]},{"id":"58f29146.a53578","type":"comment","z":"4ad56de3.33d4e4","g":"a3bb6ec4.cda158","name":"Webpage manager for viewing armory access logs through mongodb with login system","info":"","x":360,"y":2380,"wires":[]},{"id":"a364b1d3.06bc5","type":"comment","z":"4ad56de3.33d4e4","g":"4edc445e.9a210c","name":"Checks armory access, all access are logged in a mongodb collection, unauthorized access are notified through mqtt","info":"","x":470,"y":2060,"wires":[]},{"id":"871d0c34.e4e988","type":"comment","z":"4ad56de3.33d4e4","g":"6e16ab92.1206ec","name":"Checks CO2 sensor, values are notified with mqtt","info":"","x":260,"y":1840,"wires":[]},{"id":"46ca1c18.7e9cf4","type":"comment","z":"4ad56de3.33d4e4","g":"3b89e7a5.ac8338","name":"Checks movement sensors and turn the lights on / off accordingly","info":"","x":310,"y":1520,"wires":[]},{"id":"50dc5d24.54a55c","type":"comment","z":"4ad56de3.33d4e4","g":"cfb432d8.66036","name":"Checks humidity sensors and adjust the hvac accordingly, the values are notified with mqtt","info":"","x":390,"y":1220,"wires":[]},{"id":"5dfcd056.2e90a8","type":"comment","z":"4ad56de3.33d4e4","g":"a5321fc8.5f878","name":"Checks the temperature and CO2 in order to activate the fire alarm, the result will be notified with mqtt","info":"","x":410,"y":920,"wires":[]},{"id":"783194be.321664","type":"comment","z":"4ad56de3.33d4e4","g":"84676248.2eb65","name":"Checks the temperature sensors and activates the hvac system accordingly, values are notified through mqtt","info":"","x":430,"y":620,"wires":[]},{"id":"36e175c0.b6785a","type":"comment","z":"4ad56de3.33d4e4","g":"4c828418.627bfc","name":"Simulates random values for sensors, some are present in the dashboard","info":"","x":320,"y":80,"wires":[]},{"id":"9a23df28.a5b248","type":"ui_group","name":"Armory","tab":"4f4d581d.64506","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6f8d8e927d3fc46d","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"552863e0.b3178c","type":"mongodb3","uri":"mongodb://localhost:27017/barrackslog","name":"","options":"","parallelism":"-1"},{"id":"4f4d581d.64506","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]