flows/CommonAreaTest.json
[{"id":"2ececf23ef45fcf4","type":"subflow","name":"GETBooleanSim","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"e1f99dd92a4d1d0d"}]}],"out":[{"x":500,"y":180,"wires":[{"id":"165ae1f02af4598f","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"e1f99dd92a4d1d0d","type":"function","z":"2ececf23ef45fcf4","name":"SetPayload","func":"msg.payload = \"GET \" + msg.idx + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":120,"wires":[["ee6f4bdcad778414"]]},{"id":"ee6f4bdcad778414","type":"tcp request","z":"2ececf23ef45fcf4","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"TCPRequest","x":270,"y":120,"wires":[["165ae1f02af4598f"]]},{"id":"165ae1f02af4598f","type":"function","z":"2ececf23ef45fcf4","name":"ReadResponse","func":"var out = msg.payload.toString('utf-8');\nmsg.payload = \"Response \" + out;\nvar arrayOut = out.split(\" \");\nif(arrayOut[0]==\"OK\" && arrayOut[1]==msg.idx)\n    msg.out = arrayOut[2].includes(\"true\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":120,"wires":[[]]},{"id":"66f9eac382c6787f","type":"subflow","name":"GETFloatSim","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"b8082cf2f5955f4f"}]}],"out":[{"x":520,"y":160,"wires":[{"id":"d071e41fcde96f11","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"b8082cf2f5955f4f","type":"function","z":"66f9eac382c6787f","name":"SetPayload","func":"msg.payload = \"GET \" + msg.idx + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":100,"wires":[["2e40b1d337130b00"]]},{"id":"2e40b1d337130b00","type":"tcp request","z":"66f9eac382c6787f","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"TCPRequest","x":270,"y":100,"wires":[["d071e41fcde96f11"]]},{"id":"d071e41fcde96f11","type":"function","z":"66f9eac382c6787f","name":"ReadResponse","func":"var out = msg.payload.toString('utf-8');\nmsg.payload = \"Response \" + out;\nvar arrayOut = out.split(\" \");\nif(arrayOut[0]==\"OK\" && arrayOut[1]==msg.idx)\n    msg.out = parseFloat(arrayOut[2]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":100,"wires":[[]]},{"id":"4418cbb5908845ca","type":"subflow","name":"SETSim","info":"","category":"","in":[{"x":40,"y":20,"wires":[{"id":"b299481f03467d6a"}]}],"out":[{"x":580,"y":120,"wires":[{"id":"5730bd93bf173b80","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"b299481f03467d6a","type":"function","z":"4418cbb5908845ca","name":"SetPayload","func":"msg.payload = \"SET \" + msg.idx + \" \" + msg.value + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":80,"wires":[["b1b038f5bd25dbdb"]]},{"id":"b1b038f5bd25dbdb","type":"tcp request","z":"4418cbb5908845ca","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"TCPRequest","x":270,"y":80,"wires":[["5730bd93bf173b80"]]},{"id":"5730bd93bf173b80","type":"function","z":"4418cbb5908845ca","name":"ReadResponse","func":"var out = msg.payload.toString('utf-8');\nmsg.payload = \"Response \" + out;\nvar arrayOut = out.split(\" \");\nif(arrayOut[0]==\"OK\")\n    msg.out = true;\nelse msg.out = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":80,"wires":[[]]},{"id":"34052872.c3de5","type":"tab","label":"CommonAreaTest","disabled":false,"info":""},{"id":"f7d23e62.68c2d8","type":"inject","z":"34052872.c3de5","name":"RandomizeTemperatureSensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":40,"wires":[["99a200ed.29c748"]]},{"id":"99a200ed.29c748","type":"function","z":"34052872.c3de5","name":"RandomValues","func":"msg.payload = Math.round(Math.floor(Math.random()*40));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":40,"wires":[["9213e1a1.b5dab"]]},{"id":"9213e1a1.b5dab","type":"function","z":"34052872.c3de5","name":"SetParam","func":"msg.idx = 1;\nmsg.value = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":40,"wires":[["84dd9a0e.42d63"]]},{"id":"84dd9a0e.42d63","type":"subflow:4418cbb5908845ca","z":"34052872.c3de5","name":"","env":[],"x":740,"y":40,"wires":[["81f9d1c0.f8824"]]},{"id":"9b32f8e2.a78bb8","type":"inject","z":"34052872.c3de5","name":"CheckTemperature","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"12","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["5514130c.aca114"]]},{"id":"5514130c.aca114","type":"function","z":"34052872.c3de5","name":"TryReadingTemperatureSensor","func":"msg.idx = 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":160,"wires":[["18c9f526.50ebeb"]]},{"id":"4cb53f0f.2a0958","type":"switch","z":"34052872.c3de5","name":"ProcessResponse","property":"out","propertyType":"msg","rules":[{"t":"gt","v":"22","vt":"num"},{"t":"lte","v":"18","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":280,"wires":[["ffd5ed1.b4d539"],["e072049.25b51f8"]]},{"id":"18c9f526.50ebeb","type":"subflow:66f9eac382c6787f","z":"34052872.c3de5","name":"","x":160,"y":280,"wires":[["4cb53f0f.2a0958","39a8851.2bd117a"]]},{"id":"e072049.25b51f8","type":"function","z":"34052872.c3de5","name":"SetParam","func":"msg.idx = 2;\nmsg.value = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":300,"wires":[["4b913cd4.6987a4"]]},{"id":"4b913cd4.6987a4","type":"subflow:4418cbb5908845ca","z":"34052872.c3de5","name":"","x":700,"y":300,"wires":[["5b2b3fb0.1c2e18"]]},{"id":"ffd5ed1.b4d539","type":"function","z":"34052872.c3de5","name":"SetParam","func":"msg.idx = 3;\nmsg.value = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":240,"wires":[["d6fa90c2.03a9d"]]},{"id":"d6fa90c2.03a9d","type":"subflow:4418cbb5908845ca","z":"34052872.c3de5","name":"","x":700,"y":240,"wires":[["94a00b6d.011c6"]]},{"id":"94a00b6d.011c6","type":"function","z":"34052872.c3de5","name":"SetParam","func":"msg.idx = 2;\nmsg.value = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":240,"wires":[["aefe339e.4e382"]]},{"id":"aefe339e.4e382","type":"subflow:4418cbb5908845ca","z":"34052872.c3de5","name":"","x":980,"y":240,"wires":[[]]},{"id":"5b2b3fb0.1c2e18","type":"function","z":"34052872.c3de5","name":"SetParam","func":"msg.idx = 3;\nmsg.value = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":300,"wires":[["21409bbf.97a0fc"]]},{"id":"21409bbf.97a0fc","type":"subflow:4418cbb5908845ca","z":"34052872.c3de5","name":"","x":980,"y":300,"wires":[[]]},{"id":"18c70977.705aaf","type":"inject","z":"34052872.c3de5","name":"RandomizePresenceSensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":80,"wires":[["95bc5840.144518"]]},{"id":"95bc5840.144518","type":"function","z":"34052872.c3de5","name":"RandomValues","func":"var ran = Math.random()*10;\nif(ran > 4) msg.payload = true;\nelse msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":80,"wires":[["43e93bae.2d15d4"]]},{"id":"43e93bae.2d15d4","type":"function","z":"34052872.c3de5","name":"SetParam","func":"msg.idx = 4;\nmsg.value = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":80,"wires":[["90fc17d6.e853f8"]]},{"id":"90fc17d6.e853f8","type":"subflow:4418cbb5908845ca","z":"34052872.c3de5","name":"","env":[],"x":720,"y":80,"wires":[["93bd32bf.480b68"]]},{"id":"4516b900.dd5af","type":"inject","z":"34052872.c3de5","name":"CheckMovement","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"8","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":440,"wires":[["5dc82ffa.4c4568"]]},{"id":"5dc82ffa.4c4568","type":"function","z":"34052872.c3de5","name":"TryReadingPresenceSensor","func":"msg.idx = 4;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":440,"wires":[["983f4a83.1255a8"]]},{"id":"983f4a83.1255a8","type":"subflow:2ececf23ef45fcf4","z":"34052872.c3de5","name":"","env":[],"x":150,"y":520,"wires":[["3700d981.5b3f46","620ef497.e54794"]]},{"id":"3700d981.5b3f46","type":"switch","z":"34052872.c3de5","name":"ProcessResponse","property":"out","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":520,"wires":[["dda58dfc.f84bc8"],["e5a4a336.6dd05"]]},{"id":"dda58dfc.f84bc8","type":"function","z":"34052872.c3de5","name":"LightON","func":"msg.idx = 5;\nmsg.value = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":500,"wires":[["9c06bf8.427474"]]},{"id":"e5a4a336.6dd05","type":"function","z":"34052872.c3de5","name":"LightOFF","func":"msg.idx = 5;\nmsg.value = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":600,"wires":[["1a11e2c5.ea9e2d"]]},{"id":"9c06bf8.427474","type":"subflow:4418cbb5908845ca","z":"34052872.c3de5","name":"","env":[],"x":720,"y":500,"wires":[["789f3b52.76628c","57cc7b50.82bb64"]]},{"id":"789f3b52.76628c","type":"debug","z":"34052872.c3de5","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":540,"wires":[]},{"id":"620ef497.e54794","type":"debug","z":"34052872.c3de5","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":210,"y":580,"wires":[]},{"id":"57cc7b50.82bb64","type":"delay","z":"34052872.c3de5","name":"Wait","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":540,"wires":[["e5a4a336.6dd05"]]},{"id":"1a11e2c5.ea9e2d","type":"subflow:4418cbb5908845ca","z":"34052872.c3de5","name":"","x":720,"y":600,"wires":[["789f3b52.76628c"]]},{"id":"39a8851.2bd117a","type":"debug","z":"34052872.c3de5","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":230,"y":340,"wires":[]},{"id":"81f9d1c0.f8824","type":"debug","z":"34052872.c3de5","name":"Temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":40,"wires":[]},{"id":"93bd32bf.480b68","type":"debug","z":"34052872.c3de5","name":"Presence","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":80,"wires":[]},{"id":"6e682a2a.fe690c","type":"comment","z":"34052872.c3de5","name":"caldo - spengo termostato accendo aria","info":"","x":730,"y":200,"wires":[]},{"id":"5f8312df.1aabfc","type":"comment","z":"34052872.c3de5","name":"freddo - spengo aria accendo termostato","info":"","x":740,"y":340,"wires":[]}]