flows/Dormitory.json
[{"id":"66f9eac382c6787f","type":"subflow","name":"GETFloatSim","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"b8082cf2f5955f4f"}]}],"out":[{"x":520,"y":160,"wires":[{"id":"d071e41fcde96f11","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"b8082cf2f5955f4f","type":"function","z":"66f9eac382c6787f","name":"SetPayload","func":"msg.payload = \"GET \" + msg.idx + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":100,"wires":[["2e40b1d337130b00"]]},{"id":"2e40b1d337130b00","type":"tcp request","z":"66f9eac382c6787f","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"TCPRequest","x":270,"y":100,"wires":[["d071e41fcde96f11"]]},{"id":"d071e41fcde96f11","type":"function","z":"66f9eac382c6787f","name":"ReadResponse","func":"var out = msg.payload.toString('utf-8');\nmsg.payload = \"Response \" + out;\nvar arrayOut = out.split(\" \");\nif(arrayOut[0]==\"OK\" && arrayOut[1]==msg.idx)\n    msg.out = parseFloat(arrayOut[2]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":100,"wires":[[]]},{"id":"4418cbb5908845ca","type":"subflow","name":"SETSim","info":"","category":"","in":[{"x":40,"y":20,"wires":[{"id":"b299481f03467d6a"}]}],"out":[{"x":580,"y":120,"wires":[{"id":"5730bd93bf173b80","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"b299481f03467d6a","type":"function","z":"4418cbb5908845ca","name":"SetPayload","func":"msg.payload = \"SET \" + msg.idx + \" \" + msg.value + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":80,"wires":[["b1b038f5bd25dbdb"]]},{"id":"b1b038f5bd25dbdb","type":"tcp request","z":"4418cbb5908845ca","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"TCPRequest","x":270,"y":80,"wires":[["5730bd93bf173b80"]]},{"id":"5730bd93bf173b80","type":"function","z":"4418cbb5908845ca","name":"ReadResponse","func":"var out = msg.payload.toString('utf-8');\nmsg.payload = \"Response \" + out;\nvar arrayOut = out.split(\" \");\nif(arrayOut[0]==\"OK\")\n    msg.out = true;\nelse msg.out = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":80,"wires":[[]]},{"id":"1a26c1c5.113cbe","type":"tab","label":"Dormitory","disabled":true,"info":""},{"id":"be366685.fc0788","type":"inject","z":"1a26c1c5.113cbe","name":"RandomizeTemperatureSensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":60,"wires":[["16fa895a.a9c577"]]},{"id":"16fa895a.a9c577","type":"function","z":"1a26c1c5.113cbe","name":"RandomValues","func":"msg.payload = Math.round(Math.floor(Math.random()*40));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":60,"wires":[["1db1b11b.03ef07"]]},{"id":"1db1b11b.03ef07","type":"function","z":"1a26c1c5.113cbe","name":"SetParam","func":"msg.idx = 15;\nmsg.value = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":60,"wires":[["d752f767.7ebf18"]]},{"id":"d752f767.7ebf18","type":"subflow:4418cbb5908845ca","z":"1a26c1c5.113cbe","name":"","env":[],"x":760,"y":60,"wires":[["31ad46df.bfc75a"]]},{"id":"ebddbf87.f127b","type":"inject","z":"1a26c1c5.113cbe","name":"CheckTemperature","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"12","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":220,"wires":[["4981e523.2e32fc"]]},{"id":"4981e523.2e32fc","type":"function","z":"1a26c1c5.113cbe","name":"TryReadingTemperatureSensor","func":"msg.idx = 15;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":220,"wires":[["188ed022.7fb238"]]},{"id":"188ed022.7fb238","type":"subflow:66f9eac382c6787f","z":"1a26c1c5.113cbe","name":"","env":[],"x":180,"y":340,"wires":[["f20d6d2a.38efc8","5cf09ca8.a5542c"]]},{"id":"5cf09ca8.a5542c","type":"function","z":"1a26c1c5.113cbe","name":"SetParam","func":"msg.idx = 16;\n\n\nif(msg.out < 19 || msg.out > 21) {\n    msg.value = true;\n}else{\n    msg.value = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":340,"wires":[["3b4b9d5b.bb4ad2"]]},{"id":"3b4b9d5b.bb4ad2","type":"subflow:4418cbb5908845ca","z":"1a26c1c5.113cbe","name":"","env":[],"x":580,"y":340,"wires":[[]]},{"id":"f20d6d2a.38efc8","type":"debug","z":"1a26c1c5.113cbe","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"out","targetType":"msg","statusVal":"","statusType":"auto","x":250,"y":400,"wires":[]},{"id":"31ad46df.bfc75a","type":"debug","z":"1a26c1c5.113cbe","name":"Temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":60,"wires":[]},{"id":"c3d5f8ea.e1a148","type":"inject","z":"1a26c1c5.113cbe","name":"RandomizeCO2Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":120,"wires":[["7ef425d6.241cf4"]]},{"id":"7ef425d6.241cf4","type":"function","z":"1a26c1c5.113cbe","name":"RandomValues","func":"msg.payload = Math.round(Math.floor(Math.random()*1400 ) + 100);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":120,"wires":[["44757781.94a128"]]},{"id":"44757781.94a128","type":"function","z":"1a26c1c5.113cbe","name":"SetParam","func":"msg.idx = 17;\nmsg.value = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":120,"wires":[["d3936f01.d5a418"]]},{"id":"d3936f01.d5a418","type":"subflow:4418cbb5908845ca","z":"1a26c1c5.113cbe","name":"","env":[],"x":760,"y":120,"wires":[["4ec30956.f2469"]]},{"id":"4ec30956.f2469","type":"debug","z":"1a26c1c5.113cbe","name":"Temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":120,"wires":[]},{"id":"fba12d11.c6957","type":"inject","z":"1a26c1c5.113cbe","name":"CheckFire","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"12","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":480,"wires":[["f9566aa7.c0d988"]]},{"id":"f9566aa7.c0d988","type":"function","z":"1a26c1c5.113cbe","name":"TryReadingTemperature&CO2","func":"msg.idx = 15;\nmsg.temp = msg.out;\nmsg.idx = 17;\nmsg.CO2 = msg.out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":480,"wires":[["6bb009d5.693df"]]},{"id":"6bb009d5.693df","type":"subflow:66f9eac382c6787f","z":"1a26c1c5.113cbe","name":"","env":[],"x":740,"y":480,"wires":[["f42bc68c.f16fc8","345c0693.ed29f2"]]},{"id":"345c0693.ed29f2","type":"function","z":"1a26c1c5.113cbe","name":"SetParam","func":"msg.idx = 18;\n\n\nif(msg.temp > 40 && msg.CO2 > 1199) {\n    msg.value = true;\n}else{\n    msg.value = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":480,"wires":[["ee954faa.16af4"]]},{"id":"ee954faa.16af4","type":"subflow:4418cbb5908845ca","z":"1a26c1c5.113cbe","name":"","env":[],"x":1140,"y":480,"wires":[[]]},{"id":"f42bc68c.f16fc8","type":"debug","z":"1a26c1c5.113cbe","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"out","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":540,"wires":[]},{"id":"902d15b7.b8d008","type":"inject","z":"1a26c1c5.113cbe","name":"RandomizeDayLight","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":660,"wires":[["aa362c8.f9f815"]]},{"id":"aa362c8.f9f815","type":"function","z":"1a26c1c5.113cbe","name":"RandomValues","func":"var ran = Math.floor(Math.random()*23);\nif(ran >= 6 && ran < 22) msg.payload = true;\nelse msg.payload = false;\nmsg.ran = ran;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":660,"wires":[["9bb4ee3b.9ceb4","c165fd10.fa2df8"]]},{"id":"9bb4ee3b.9ceb4","type":"function","z":"1a26c1c5.113cbe","name":"SetParam","func":"msg.idx = 19;\nmsg.value = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":660,"wires":[["37867aa2.433d16"]]},{"id":"37867aa2.433d16","type":"subflow:4418cbb5908845ca","z":"1a26c1c5.113cbe","name":"","env":[],"x":760,"y":660,"wires":[[]]},{"id":"c165fd10.fa2df8","type":"debug","z":"1a26c1c5.113cbe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"ran","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":700,"wires":[]}]