flows/DormitoryControl.json
[{"id":"66f9eac382c6787f","type":"subflow","name":"GETFloatSim","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"b8082cf2f5955f4f"}]}],"out":[{"x":520,"y":160,"wires":[{"id":"d071e41fcde96f11","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"b8082cf2f5955f4f","type":"function","z":"66f9eac382c6787f","name":"SetPayload","func":"msg.payload = \"GET \" + msg.idx + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":100,"wires":[["2e40b1d337130b00"]]},{"id":"2e40b1d337130b00","type":"tcp request","z":"66f9eac382c6787f","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"TCPRequest","x":270,"y":100,"wires":[["d071e41fcde96f11"]]},{"id":"d071e41fcde96f11","type":"function","z":"66f9eac382c6787f","name":"ReadResponse","func":"var out = msg.payload.toString('utf-8');\nmsg.payload = \"Response \" + out;\nvar arrayOut = out.split(\" \");\nif(arrayOut[0]==\"OK\" && arrayOut[1]==msg.idx)\n    msg.out = parseFloat(arrayOut[2]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":100,"wires":[[]]},{"id":"4418cbb5908845ca","type":"subflow","name":"SETSim","info":"","category":"","in":[{"x":40,"y":20,"wires":[{"id":"b299481f03467d6a"}]}],"out":[{"x":580,"y":120,"wires":[{"id":"5730bd93bf173b80","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"b299481f03467d6a","type":"function","z":"4418cbb5908845ca","name":"SetPayload","func":"msg.payload = \"SET \" + msg.idx + \" \" + msg.value + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":80,"wires":[["b1b038f5bd25dbdb"]]},{"id":"b1b038f5bd25dbdb","type":"tcp request","z":"4418cbb5908845ca","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"TCPRequest","x":270,"y":80,"wires":[["5730bd93bf173b80"]]},{"id":"5730bd93bf173b80","type":"function","z":"4418cbb5908845ca","name":"ReadResponse","func":"var out = msg.payload.toString('utf-8');\nmsg.payload = \"Response \" + out;\nvar arrayOut = out.split(\" \");\nif(arrayOut[0]==\"OK\")\n    msg.out = true;\nelse msg.out = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":80,"wires":[[]]},{"id":"1a26c1c5.113cbe","type":"tab","label":"DormitoryControl","disabled":true,"info":""},{"id":"28a9acff.5899cc","type":"group","z":"1a26c1c5.113cbe","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["be366685.fc0788","16fa895a.a9c577","1db1b11b.03ef07","d752f767.7ebf18","31ad46df.bfc75a","c3d5f8ea.e1a148","7ef425d6.241cf4","44757781.94a128","d3936f01.d5a418","4ec30956.f2469","21004e2c.61f79a","dd53aaa5.6ced7","d9005e5f.c5ef38","db6db35.f3d5ad","904f4509.415a78"],"x":34,"y":39,"w":992,"h":262},{"id":"6f659d7c.c6a404","type":"group","z":"1a26c1c5.113cbe","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["7d565069.4b91e","e1ff6f22.2f7ac","2f094276.f80f9e","dec4b5cc.aaa6e","73072017.45d76","b9ebfced.69425","44c14a2e.0994fc","4f5868a3deef7af9"],"x":34,"y":1179,"w":632,"h":202},{"id":"9b9aa7e3.e1a3b8","type":"group","z":"1a26c1c5.113cbe","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ebddbf87.f127b","4981e523.2e32fc","188ed022.7fb238","5cf09ca8.a5542c","3b4b9d5b.bb4ad2","f20d6d2a.38efc8","683c107e.a85258","93de84f4.b0919","6aa272f2.34051c","c7561083.e5bad","1b61c9d86c119f1c"],"x":34,"y":339,"w":932,"h":262},{"id":"ccdc65f2.f1751","type":"group","z":"1a26c1c5.113cbe","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["902d15b7.b8d008","aa362c8.f9f815","9bb4ee3b.9ceb4","37867aa2.433d16","c165fd10.fa2df8","bae89f31.a90b48"],"x":34,"y":939,"w":552,"h":202},{"id":"ed1cd607.a9dcf","type":"group","z":"1a26c1c5.113cbe","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["fba12d11.c6957","f9566aa7.c0d988","6bb009d5.693df","345c0693.ed29f2","ee954faa.16af4","f42bc68c.f16fc8","21f1305a.b756a","951d9076.065f8","5565184f.929bd","b36a3ca5.5ca128","3c64254b.23b82a","aea67227bc19bfc3"],"x":34,"y":639,"w":992,"h":262},{"id":"be366685.fc0788","type":"inject","z":"1a26c1c5.113cbe","g":"28a9acff.5899cc","name":"RandomizeTemperatureSensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":140,"wires":[["16fa895a.a9c577"]]},{"id":"16fa895a.a9c577","type":"function","z":"1a26c1c5.113cbe","g":"28a9acff.5899cc","name":"RandomValues","func":"msg.payload = Math.round(Math.floor(Math.random()*40));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":140,"wires":[["1db1b11b.03ef07","dd53aaa5.6ced7","21004e2c.61f79a"]]},{"id":"1db1b11b.03ef07","type":"function","z":"1a26c1c5.113cbe","g":"28a9acff.5899cc","name":"SetParam","func":"msg.idx = 15;\nmsg.value = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":140,"wires":[["d752f767.7ebf18"]]},{"id":"d752f767.7ebf18","type":"subflow:4418cbb5908845ca","z":"1a26c1c5.113cbe","g":"28a9acff.5899cc","name":"","env":[],"x":780,"y":140,"wires":[["31ad46df.bfc75a"]]},{"id":"ebddbf87.f127b","type":"inject","z":"1a26c1c5.113cbe","g":"9b9aa7e3.e1a3b8","name":"CheckTemperature","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":440,"wires":[["4981e523.2e32fc"]]},{"id":"4981e523.2e32fc","type":"function","z":"1a26c1c5.113cbe","g":"9b9aa7e3.e1a3b8","name":"TryReadingTemperatureSensor","func":"msg.idx = 15;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":440,"wires":[["188ed022.7fb238"]]},{"id":"188ed022.7fb238","type":"subflow:66f9eac382c6787f","z":"1a26c1c5.113cbe","g":"9b9aa7e3.e1a3b8","name":"","env":[],"x":200,"y":500,"wires":[["f20d6d2a.38efc8","5cf09ca8.a5542c","93de84f4.b0919"]]},{"id":"5cf09ca8.a5542c","type":"function","z":"1a26c1c5.113cbe","g":"9b9aa7e3.e1a3b8","name":"SetParam","func":"msg.idx = 16;\n\n\nif(msg.out < 19 || msg.out > 21) {\n    msg.value = true;\n}else{\n    msg.value = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":500,"wires":[["3b4b9d5b.bb4ad2"]]},{"id":"3b4b9d5b.bb4ad2","type":"subflow:4418cbb5908845ca","z":"1a26c1c5.113cbe","g":"9b9aa7e3.e1a3b8","name":"","env":[],"x":600,"y":500,"wires":[[]]},{"id":"f20d6d2a.38efc8","type":"debug","z":"1a26c1c5.113cbe","g":"9b9aa7e3.e1a3b8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"out","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":560,"wires":[]},{"id":"31ad46df.bfc75a","type":"debug","z":"1a26c1c5.113cbe","g":"28a9acff.5899cc","name":"Temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":140,"wires":[]},{"id":"c3d5f8ea.e1a148","type":"inject","z":"1a26c1c5.113cbe","g":"28a9acff.5899cc","name":"RandomizeCO2Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":220,"wires":[["7ef425d6.241cf4"]]},{"id":"7ef425d6.241cf4","type":"function","z":"1a26c1c5.113cbe","g":"28a9acff.5899cc","name":"RandomValues","func":"msg.payload = Math.round(Math.floor(Math.random()*1400 ) + 100);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":220,"wires":[["44757781.94a128","d9005e5f.c5ef38","db6db35.f3d5ad"]]},{"id":"44757781.94a128","type":"function","z":"1a26c1c5.113cbe","g":"28a9acff.5899cc","name":"SetParam","func":"msg.idx = 17;\nmsg.value = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":220,"wires":[["d3936f01.d5a418"]]},{"id":"d3936f01.d5a418","type":"subflow:4418cbb5908845ca","z":"1a26c1c5.113cbe","g":"28a9acff.5899cc","name":"","env":[],"x":780,"y":220,"wires":[["4ec30956.f2469"]]},{"id":"4ec30956.f2469","type":"debug","z":"1a26c1c5.113cbe","g":"28a9acff.5899cc","name":"Temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":220,"wires":[]},{"id":"fba12d11.c6957","type":"inject","z":"1a26c1c5.113cbe","g":"ed1cd607.a9dcf","name":"CheckFire","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":740,"wires":[["f9566aa7.c0d988"]]},{"id":"f9566aa7.c0d988","type":"function","z":"1a26c1c5.113cbe","g":"ed1cd607.a9dcf","name":"TryReadingTemperature&CO2","func":"msg.idx = 15;\nmsg.temp = msg.out;\nmsg.idx = 17;\nmsg.CO2 = msg.out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":740,"wires":[["6bb009d5.693df"]]},{"id":"6bb009d5.693df","type":"subflow:66f9eac382c6787f","z":"1a26c1c5.113cbe","g":"ed1cd607.a9dcf","name":"","env":[],"x":180,"y":800,"wires":[["f42bc68c.f16fc8","345c0693.ed29f2"]]},{"id":"345c0693.ed29f2","type":"function","z":"1a26c1c5.113cbe","g":"ed1cd607.a9dcf","name":"SetParam","func":"msg.idx = 18;\n\n\nif(msg.temp > 40 && msg.CO2 > 1199) {\n    msg.value = true;\n}else{\n    msg.value = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":800,"wires":[["ee954faa.16af4","21f1305a.b756a"]]},{"id":"ee954faa.16af4","type":"subflow:4418cbb5908845ca","z":"1a26c1c5.113cbe","g":"ed1cd607.a9dcf","name":"","env":[],"x":520,"y":800,"wires":[[]]},{"id":"f42bc68c.f16fc8","type":"debug","z":"1a26c1c5.113cbe","g":"ed1cd607.a9dcf","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"out","targetType":"msg","statusVal":"","statusType":"auto","x":210,"y":840,"wires":[]},{"id":"902d15b7.b8d008","type":"inject","z":"1a26c1c5.113cbe","g":"ccdc65f2.f1751","name":"RandomizeDayLight","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1040,"wires":[["aa362c8.f9f815"]]},{"id":"aa362c8.f9f815","type":"function","z":"1a26c1c5.113cbe","g":"ccdc65f2.f1751","name":"RandomValues","func":"var ran = Math.floor(Math.random()*23);\nif(ran >= 6 && ran < 22) msg.payload = true;\nelse msg.payload = false;\nmsg.ran = ran;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1040,"wires":[["9bb4ee3b.9ceb4","c165fd10.fa2df8"]]},{"id":"9bb4ee3b.9ceb4","type":"function","z":"1a26c1c5.113cbe","g":"ccdc65f2.f1751","name":"SetParam","func":"msg.idx = 19;\nmsg.value = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":1100,"wires":[["37867aa2.433d16"]]},{"id":"37867aa2.433d16","type":"subflow:4418cbb5908845ca","z":"1a26c1c5.113cbe","g":"ccdc65f2.f1751","name":"","env":[],"x":300,"y":1100,"wires":[[]]},{"id":"c165fd10.fa2df8","type":"debug","z":"1a26c1c5.113cbe","g":"ccdc65f2.f1751","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"ran","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":1100,"wires":[]},{"id":"21004e2c.61f79a","type":"ui_gauge","z":"1a26c1c5.113cbe","g":"28a9acff.5899cc","name":"","group":"2dbad8e4.56786","order":4,"width":6,"height":4,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}°C","min":0,"max":"40","colors":["#150e90","#00b500","#ca3838"],"seg1":"19","seg2":"22","className":"","x":470,"y":180,"wires":[]},{"id":"dd53aaa5.6ced7","type":"ui_chart","z":"1a26c1c5.113cbe","g":"28a9acff.5899cc","name":"TempTime","group":"2dbad8e4.56786","order":5,"width":6,"height":4,"label":"Temperature over time","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"no data yet","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":630,"y":180,"wires":[[]]},{"id":"d9005e5f.c5ef38","type":"ui_gauge","z":"1a26c1c5.113cbe","g":"28a9acff.5899cc","name":"CO2Gauge","group":"2dbad8e4.56786","order":1,"width":6,"height":4,"gtype":"gage","title":"CO2","label":"units","format":"{{value}} ppm","min":"100","max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1000","seg2":"1200","className":"","x":470,"y":260,"wires":[]},{"id":"db6db35.f3d5ad","type":"ui_chart","z":"1a26c1c5.113cbe","g":"28a9acff.5899cc","name":"CO2Time","group":"2dbad8e4.56786","order":2,"width":6,"height":4,"label":"CO2 over time","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"no data yet","dot":false,"ymin":"100","ymax":"1500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":620,"y":260,"wires":[[]]},{"id":"683c107e.a85258","type":"mqtt out","z":"1a26c1c5.113cbe","g":"9b9aa7e3.e1a3b8","name":"Notify","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6f8d8e927d3fc46d","x":890,"y":560,"wires":[]},{"id":"93de84f4.b0919","type":"function","z":"1a26c1c5.113cbe","g":"9b9aa7e3.e1a3b8","name":"TemperatureLog","func":"msg.payload = {};\nmsg.payload.description = \"Temperature\";\nmsg.payload.content = msg.out;\nmsg.topic = \"smartbarracks/dormitory/temperature\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":560,"wires":[["6aa272f2.34051c"]]},{"id":"6aa272f2.34051c","type":"template","z":"1a26c1c5.113cbe","g":"9b9aa7e3.e1a3b8","name":"FormatMsg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.description}}: {{payload.content}}°C","output":"str","x":610,"y":560,"wires":[["1b61c9d86c119f1c"]]},{"id":"21f1305a.b756a","type":"switch","z":"1a26c1c5.113cbe","g":"ed1cd607.a9dcf","name":"","property":"value","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":860,"wires":[["5565184f.929bd"]]},{"id":"951d9076.065f8","type":"mqtt out","z":"1a26c1c5.113cbe","g":"ed1cd607.a9dcf","name":"Notify","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6f8d8e927d3fc46d","x":950,"y":860,"wires":[]},{"id":"5565184f.929bd","type":"function","z":"1a26c1c5.113cbe","g":"ed1cd607.a9dcf","name":"FireAlarm","func":"msg.payload = {};\nmsg.payload.description = \"FIRE ALARM: Dormitory\";\nmsg.payload.content = msg.out;\nmsg.topic = \"smartbarracks/alarm/fire\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":860,"wires":[["b36a3ca5.5ca128"]]},{"id":"b36a3ca5.5ca128","type":"template","z":"1a26c1c5.113cbe","g":"ed1cd607.a9dcf","name":"FormatMsg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.description}}","output":"str","x":670,"y":860,"wires":[["aea67227bc19bfc3"]]},{"id":"7d565069.4b91e","type":"mqtt out","z":"1a26c1c5.113cbe","g":"6f659d7c.c6a404","name":"Notify","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6f8d8e927d3fc46d","x":590,"y":1340,"wires":[]},{"id":"e1ff6f22.2f7ac","type":"function","z":"1a26c1c5.113cbe","g":"6f659d7c.c6a404","name":"CO2Log","func":"msg.payload = {};\nmsg.payload.description = \"CO2\";\nmsg.payload.content = msg.out;\nmsg.topic = \"smartbarracks/dormitory/CO2\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":1340,"wires":[["2f094276.f80f9e"]]},{"id":"2f094276.f80f9e","type":"template","z":"1a26c1c5.113cbe","g":"6f659d7c.c6a404","name":"FormatMsg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.description}}: {{payload.content}}ppm","output":"str","x":310,"y":1340,"wires":[["4f5868a3deef7af9"]]},{"id":"dec4b5cc.aaa6e","type":"inject","z":"1a26c1c5.113cbe","g":"6f659d7c.c6a404","name":"CheckCO2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1280,"wires":[["73072017.45d76"]]},{"id":"73072017.45d76","type":"function","z":"1a26c1c5.113cbe","g":"6f659d7c.c6a404","name":"TryReadingCO2Sensor","func":"msg.idx = 17;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1280,"wires":[["b9ebfced.69425"]]},{"id":"b9ebfced.69425","type":"subflow:66f9eac382c6787f","z":"1a26c1c5.113cbe","g":"6f659d7c.c6a404","name":"","env":[],"x":560,"y":1280,"wires":[["e1ff6f22.2f7ac"]]},{"id":"904f4509.415a78","type":"comment","z":"1a26c1c5.113cbe","g":"28a9acff.5899cc","name":"Simulates random values for sensors, some are present in the dashboard","info":"","x":320,"y":80,"wires":[]},{"id":"44c14a2e.0994fc","type":"comment","z":"1a26c1c5.113cbe","g":"6f659d7c.c6a404","name":"Checks CO2 sensor, values are notified with mqtt","info":"","x":260,"y":1220,"wires":[]},{"id":"bae89f31.a90b48","type":"comment","z":"1a26c1c5.113cbe","g":"ccdc65f2.f1751","name":"Randomize daylight and turns the light on / off accordingly","info":"","x":290,"y":980,"wires":[]},{"id":"3c64254b.23b82a","type":"comment","z":"1a26c1c5.113cbe","g":"ed1cd607.a9dcf","name":"Checks the temperature and CO2 in order to activate the fire alarm, the result will be notified with mqtt","info":"","x":410,"y":680,"wires":[]},{"id":"c7561083.e5bad","type":"comment","z":"1a26c1c5.113cbe","g":"9b9aa7e3.e1a3b8","name":"Checks the temperature sensors and activates the hvac system accordingly, values are notified through mqtt","info":"","x":450,"y":380,"wires":[]},{"id":"aea67227bc19bfc3","type":"encrypt","z":"1a26c1c5.113cbe","g":"ed1cd607.a9dcf","name":"Encrypt","algorithm":"AES","key":"lab2024","x":820,"y":860,"wires":[["951d9076.065f8"]]},{"id":"1b61c9d86c119f1c","type":"encrypt","z":"1a26c1c5.113cbe","g":"9b9aa7e3.e1a3b8","name":"Encrypt","algorithm":"AES","key":"lab2024","x":760,"y":560,"wires":[["683c107e.a85258"]]},{"id":"4f5868a3deef7af9","type":"encrypt","z":"1a26c1c5.113cbe","g":"6f659d7c.c6a404","name":"Encrypt","algorithm":"AES","key":"lab2024","x":460,"y":1340,"wires":[["7d565069.4b91e"]]},{"id":"2dbad8e4.56786","type":"ui_group","name":"Dormitory","tab":"150793d32d3cb864","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6f8d8e927d3fc46d","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"150793d32d3cb864","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]