flows/EmailControl.json
[{"id":"160d7c979aaa4e9f","type":"tab","label":"AlarmsEmailControl","disabled":false,"info":""},{"id":"e2d1a92564a586de","type":"mqtt in","z":"160d7c979aaa4e9f","name":"Fire&AccessAlarmListener","topic":"smartbarracks/alarm","qos":"2","datatype":"auto-detect","broker":"6f8d8e927d3fc46d","nl":false,"rap":true,"rh":0,"x":130,"y":100,"wires":[["67119e489d20a197"]]},{"id":"15ad29ce666c3b6f","type":"debug","z":"160d7c979aaa4e9f","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":60,"wires":[]},{"id":"67119e489d20a197","type":"decrypt","z":"160d7c979aaa4e9f","name":"Decrypt","algorithm":"AES","key":"lab2024","x":340,"y":100,"wires":[["15ad29ce666c3b6f","f0993e8a.956d2"]]},{"id":"f0993e8a.956d2","type":"e-mail out","z":"160d7c979aaa4e9f","server":"smtp.libero.it","port":"465","secure":true,"name":"its_lab_gm@libero.it","dname":"SendEmail","x":510,"y":140,"wires":[[]]},{"id":"6f8d8e927d3fc46d","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]