flows/EmailTest.json
[{"id":"66f9eac382c6787f","type":"subflow","name":"GETFloatSim","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"b8082cf2f5955f4f"}]}],"out":[{"x":520,"y":160,"wires":[{"id":"d071e41fcde96f11","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"b8082cf2f5955f4f","type":"function","z":"66f9eac382c6787f","name":"SetPayload","func":"msg.payload = \"GET \" + msg.idx + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":100,"wires":[["2e40b1d337130b00"]]},{"id":"2e40b1d337130b00","type":"tcp request","z":"66f9eac382c6787f","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"TCPRequest","x":270,"y":100,"wires":[["d071e41fcde96f11"]]},{"id":"d071e41fcde96f11","type":"function","z":"66f9eac382c6787f","name":"ReadResponse","func":"var out = msg.payload.toString('utf-8');\nmsg.payload = \"Response \" + out;\nvar arrayOut = out.split(\" \");\nif(arrayOut[0]==\"OK\" && arrayOut[1]==msg.idx)\n    msg.out = parseFloat(arrayOut[2]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":100,"wires":[[]]},{"id":"4418cbb5908845ca","type":"subflow","name":"SETSim","info":"","category":"","in":[{"x":40,"y":20,"wires":[{"id":"b299481f03467d6a"}]}],"out":[{"x":580,"y":120,"wires":[{"id":"5730bd93bf173b80","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"b299481f03467d6a","type":"function","z":"4418cbb5908845ca","name":"SetPayload","func":"msg.payload = \"SET \" + msg.idx + \" \" + msg.value + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":80,"wires":[["b1b038f5bd25dbdb"]]},{"id":"b1b038f5bd25dbdb","type":"tcp request","z":"4418cbb5908845ca","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"TCPRequest","x":270,"y":80,"wires":[["5730bd93bf173b80"]]},{"id":"5730bd93bf173b80","type":"function","z":"4418cbb5908845ca","name":"ReadResponse","func":"var out = msg.payload.toString('utf-8');\nmsg.payload = \"Response \" + out;\nvar arrayOut = out.split(\" \");\nif(arrayOut[0]==\"OK\")\n    msg.out = true;\nelse msg.out = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":80,"wires":[[]]},{"id":"03081f7a14c54f7d","type":"tab","label":"E-mail","disabled":false,"info":""},{"id":"b21ca60f5d1fcd92","type":"inject","z":"03081f7a14c54f7d","name":"RandomizeTemperatureSensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":60,"wires":[["e01bed09831b9162"]]},{"id":"e01bed09831b9162","type":"function","z":"03081f7a14c54f7d","name":"RandomValues","func":"msg.payload = Math.round(Math.floor(Math.random()*10));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":60,"wires":[["f044804f70c9d6a1"]]},{"id":"f044804f70c9d6a1","type":"function","z":"03081f7a14c54f7d","name":"SetParam","func":"msg.idx = 1;\nmsg.value = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":60,"wires":[["215c65685d55e40b"]]},{"id":"215c65685d55e40b","type":"subflow:4418cbb5908845ca","z":"03081f7a14c54f7d","name":"","x":760,"y":60,"wires":[[]]},{"id":"9e0109fef050ae4a","type":"inject","z":"03081f7a14c54f7d","name":"CheckStatus","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"12","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":120,"wires":[["25cbc0e2ed04a8ea"]]},{"id":"25cbc0e2ed04a8ea","type":"function","z":"03081f7a14c54f7d","name":"TryReadingTemperatureSensor","func":"msg.idx = 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":120,"wires":[["f3c6999aa0e3e262"]]},{"id":"771e405024ff4347","type":"switch","z":"03081f7a14c54f7d","name":"ProcessResponse","property":"out","propertyType":"msg","rules":[{"t":"gt","v":"4","vt":"num"},{"t":"lte","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":220,"wires":[["0d43fa66991be584"],["b9b768d24db90f62","fa82548e05f5d53a"]]},{"id":"0d43fa66991be584","type":"function","z":"03081f7a14c54f7d","name":"TemperatureALARM","func":"msg.payload = {};\nmsg.payload.description = \"TEMPERATURE ALARM\";\nmsg.payload.content = msg.out;\nmsg.topic = \"coldroom/alarm/temperature\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":180,"wires":[["9a673183b1d84aea"]]},{"id":"b9b768d24db90f62","type":"function","z":"03081f7a14c54f7d","name":"TemperatureLOG","func":"msg.payload = {};\nmsg.payload.description = \"TEMPERATURE LOG\";\nmsg.payload.content = msg.out;\nmsg.topic = \"coldroom/log/temperature\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":260,"wires":[["9a673183b1d84aea"]]},{"id":"9a673183b1d84aea","type":"template","z":"03081f7a14c54f7d","name":"FormatMsg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.description}}: {{payload.content}}°C","output":"str","x":950,"y":220,"wires":[["f56afebcb0bbc1fd"]]},{"id":"ae276b590811a9a7","type":"mqtt out","z":"03081f7a14c54f7d","name":"Notify","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6f8d8e927d3fc46d","x":1170,"y":220,"wires":[]},{"id":"f3c6999aa0e3e262","type":"subflow:66f9eac382c6787f","z":"03081f7a14c54f7d","name":"","x":170,"y":220,"wires":[["771e405024ff4347"]]},{"id":"fa82548e05f5d53a","type":"function","z":"03081f7a14c54f7d","name":"SetParam","func":"msg.idx = 9;\nmsg.value = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":220,"wires":[["de5cac21c107bd49"]]},{"id":"de5cac21c107bd49","type":"subflow:4418cbb5908845ca","z":"03081f7a14c54f7d","name":"","x":720,"y":220,"wires":[[]]},{"id":"dbd986c43f7506d0","type":"mqtt in","z":"03081f7a14c54f7d","name":"AlarmListener","topic":"coldroom/alarm/+","qos":"2","datatype":"auto","broker":"6f8d8e927d3fc46d","nl":false,"rap":true,"rh":0,"x":150,"y":380,"wires":[["73f58ab16d4ea2d2","773b35bdea3df9f9"]]},{"id":"73f58ab16d4ea2d2","type":"function","z":"03081f7a14c54f7d","name":"SetParam","func":"msg.idx = 9;\nmsg.value = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":340,"wires":[["0643138359ed748e"]]},{"id":"0643138359ed748e","type":"subflow:4418cbb5908845ca","z":"03081f7a14c54f7d","name":"","x":500,"y":340,"wires":[[]]},{"id":"f56afebcb0bbc1fd","type":"encrypt","z":"03081f7a14c54f7d","name":"Encrypt","algorithm":"AES","key":"lab2024","x":1080,"y":160,"wires":[["ae276b590811a9a7"]]},{"id":"773b35bdea3df9f9","type":"decrypt","z":"03081f7a14c54f7d","name":"Decrypt","algorithm":"AES","key":"lab2024","x":240,"y":460,"wires":[["51c6977073f54a04","b22b98e.bee2d68"]]},{"id":"51c6977073f54a04","type":"debug","z":"03081f7a14c54f7d","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":460,"wires":[]},{"id":"b22b98e.bee2d68","type":"e-mail out","z":"03081f7a14c54f7d","server":"smtp.libero.it","port":"465","secure":true,"name":"its_lab_gm@libero.it","dname":"SendEmail","x":450,"y":520,"wires":[[]]},{"id":"6f8d8e927d3fc46d","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]