flows/emailOK.json
[{"id":"03081f7a14c54f7d","type":"tab","label":"emailOK","disabled":false,"info":""},{"id":"b21ca60f5d1fcd92","type":"inject","z":"03081f7a14c54f7d","name":"Randomize","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"TEST","payloadType":"str","x":170,"y":200,"wires":[["f66bfaea.44cba"]]},{"id":"f947abef.6972","type":"e-mail out","z":"03081f7a14c54f7d","server":"smtp.libero.it","port":"465","secure":true,"name":"lucamuggiasca@outlook.com","dname":"mail","x":470,"y":200,"wires":[["5f875e9f.6701b"]]},{"id":"f66bfaea.44cba","type":"function","z":"03081f7a14c54f7d","name":"","func":"msg.from = [{\"address\":\"its_lab_gm@libero.it\", \"name\":\"SmartBarracksNotification\"}];\nmsg.topic = \"Alarm Notification\";\nmsg.body = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":200,"wires":[["f947abef.6972"]]},{"id":"5f875e9f.6701b","type":"debug","z":"03081f7a14c54f7d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":200,"wires":[]}]