flows/FoodStorage.json
[{"id":"2ececf23ef45fcf4","type":"subflow","name":"GETBooleanSim","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"e1f99dd92a4d1d0d"}]}],"out":[{"x":500,"y":180,"wires":[{"id":"165ae1f02af4598f","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"e1f99dd92a4d1d0d","type":"function","z":"2ececf23ef45fcf4","name":"SetPayload","func":"msg.payload = \"GET \" + msg.idx + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":120,"wires":[["ee6f4bdcad778414"]]},{"id":"ee6f4bdcad778414","type":"tcp request","z":"2ececf23ef45fcf4","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"TCPRequest","x":270,"y":120,"wires":[["165ae1f02af4598f"]]},{"id":"165ae1f02af4598f","type":"function","z":"2ececf23ef45fcf4","name":"ReadResponse","func":"var out = msg.payload.toString('utf-8');\nmsg.payload = \"Response \" + out;\nvar arrayOut = out.split(\" \");\nif(arrayOut[0]==\"OK\" && arrayOut[1]==msg.idx)\n    msg.out = arrayOut[2].includes(\"true\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":120,"wires":[[]]},{"id":"66f9eac382c6787f","type":"subflow","name":"GETFloatSim","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"b8082cf2f5955f4f"}]}],"out":[{"x":520,"y":160,"wires":[{"id":"d071e41fcde96f11","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"b8082cf2f5955f4f","type":"function","z":"66f9eac382c6787f","name":"SetPayload","func":"msg.payload = \"GET \" + msg.idx + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":100,"wires":[["2e40b1d337130b00"]]},{"id":"2e40b1d337130b00","type":"tcp request","z":"66f9eac382c6787f","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"TCPRequest","x":270,"y":100,"wires":[["d071e41fcde96f11"]]},{"id":"d071e41fcde96f11","type":"function","z":"66f9eac382c6787f","name":"ReadResponse","func":"var out = msg.payload.toString('utf-8');\nmsg.payload = \"Response \" + out;\nvar arrayOut = out.split(\" \");\nif(arrayOut[0]==\"OK\" && arrayOut[1]==msg.idx)\n    msg.out = parseFloat(arrayOut[2]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":100,"wires":[[]]},{"id":"4418cbb5908845ca","type":"subflow","name":"SETSim","info":"","category":"","in":[{"x":40,"y":20,"wires":[{"id":"b299481f03467d6a"}]}],"out":[{"x":580,"y":120,"wires":[{"id":"5730bd93bf173b80","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"b299481f03467d6a","type":"function","z":"4418cbb5908845ca","name":"SetPayload","func":"msg.payload = \"SET \" + msg.idx + \" \" + msg.value + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":80,"wires":[["b1b038f5bd25dbdb"]]},{"id":"b1b038f5bd25dbdb","type":"tcp request","z":"4418cbb5908845ca","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"TCPRequest","x":270,"y":80,"wires":[["5730bd93bf173b80"]]},{"id":"5730bd93bf173b80","type":"function","z":"4418cbb5908845ca","name":"ReadResponse","func":"var out = msg.payload.toString('utf-8');\nmsg.payload = \"Response \" + out;\nvar arrayOut = out.split(\" \");\nif(arrayOut[0]==\"OK\")\n    msg.out = true;\nelse msg.out = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":80,"wires":[[]]},{"id":"ba31034.180b9","type":"tab","label":"FoodStorage","disabled":false,"info":""},{"id":"ec7f9017.9a5e98","type":"inject","z":"ba31034.180b9","name":"RandomizeTemperatureSensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":60,"wires":[["d54146d7.2f7638"]]},{"id":"d54146d7.2f7638","type":"function","z":"ba31034.180b9","name":"RandomValues","func":"msg.payload = Math.round(Math.floor(Math.random()*40));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":60,"wires":[["fcd5b8f3.90d348","1d697794.b90e98","7867686.1089a98"]]},{"id":"fcd5b8f3.90d348","type":"function","z":"ba31034.180b9","name":"SetParam","func":"msg.idx = 7;\nmsg.value = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":60,"wires":[["f801e1b.f9576a"]]},{"id":"f801e1b.f9576a","type":"subflow:4418cbb5908845ca","z":"ba31034.180b9","name":"","env":[],"x":780,"y":60,"wires":[["7d9abfdf.154458"]]},{"id":"a7b028d3.393cd8","type":"inject","z":"ba31034.180b9","name":"CheckTemperature","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":460,"wires":[["4d23d8ed.3bd628"]]},{"id":"4d23d8ed.3bd628","type":"function","z":"ba31034.180b9","name":"TryReadingTemperatureSensor","func":"msg.idx = 7;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":460,"wires":[["20d5c376.0987dc"]]},{"id":"20d5c376.0987dc","type":"subflow:66f9eac382c6787f","z":"ba31034.180b9","name":"","env":[],"x":200,"y":580,"wires":[["6c7c6ed6.ee9358","5a10358d.b0ab84"]]},{"id":"5a10358d.b0ab84","type":"function","z":"ba31034.180b9","name":"SetParam","func":"msg.idx = 8;\n\n\nif(msg.out < 19 || msg.out > 21) {\n    msg.value = true;\n}else{\n    msg.value = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":580,"wires":[["7bc6de92.51afc"]]},{"id":"7bc6de92.51afc","type":"subflow:4418cbb5908845ca","z":"ba31034.180b9","name":"","env":[],"x":600,"y":580,"wires":[[]]},{"id":"6c2d843f.9b9f9c","type":"inject","z":"ba31034.180b9","name":"RandomizeHumiditySensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"12","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":160,"wires":[["3d28de78.c304ca"]]},{"id":"3d28de78.c304ca","type":"function","z":"ba31034.180b9","name":"RandomValues","func":"msg.payload = Math.round(Math.floor(Math.random()*80)+ 10);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":160,"wires":[["f0c1ed37.dd0c78","c912394c.f170a","c885652a.39a588"]]},{"id":"f0c1ed37.dd0c78","type":"function","z":"ba31034.180b9","name":"SetParam","func":"msg.idx = 11;\nmsg.value = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":160,"wires":[["f7f7c614.5b54a8"]]},{"id":"f7f7c614.5b54a8","type":"subflow:4418cbb5908845ca","z":"ba31034.180b9","name":"","env":[],"x":760,"y":160,"wires":[["96e54614.f482f"]]},{"id":"6c7c6ed6.ee9358","type":"debug","z":"ba31034.180b9","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"out","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":640,"wires":[]},{"id":"7d9abfdf.154458","type":"debug","z":"ba31034.180b9","name":"Temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":60,"wires":[]},{"id":"96e54614.f482f","type":"debug","z":"ba31034.180b9","name":"Presence","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":160,"wires":[]},{"id":"eddb23ae.9cf2e","type":"inject","z":"ba31034.180b9","name":"RandomizeCO2Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":280,"wires":[["50ba61c1.435aa8"]]},{"id":"50ba61c1.435aa8","type":"function","z":"ba31034.180b9","name":"RandomValues","func":"msg.payload = Math.round(Math.floor(Math.random()*1400 ) + 100);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":280,"wires":[["2901e4ba.db6444","15557c78.27f874","28a886bc.4d8efa"]]},{"id":"2901e4ba.db6444","type":"function","z":"ba31034.180b9","name":"SetParam","func":"msg.idx = 9;\nmsg.value = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":280,"wires":[["f9eaa9d2.34219"]]},{"id":"f9eaa9d2.34219","type":"subflow:4418cbb5908845ca","z":"ba31034.180b9","name":"","env":[],"x":780,"y":280,"wires":[["67481f0b.bd30f"]]},{"id":"67481f0b.bd30f","type":"debug","z":"ba31034.180b9","name":"Temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":280,"wires":[]},{"id":"53f54748.16778","type":"inject","z":"ba31034.180b9","name":"CheckFire","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":720,"wires":[["948b27b2.add7e8"]]},{"id":"948b27b2.add7e8","type":"function","z":"ba31034.180b9","name":"TryReadingTemperature&CO2","func":"msg.idx = 7;\nmsg.temp = msg.out;\nmsg.idx = 9;\nmsg.CO2 = msg.out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":720,"wires":[["8777e542.304db8"]]},{"id":"8777e542.304db8","type":"subflow:66f9eac382c6787f","z":"ba31034.180b9","name":"","env":[],"x":760,"y":720,"wires":[["18710ce3.998bfb","88a5475.bbcd9b8"]]},{"id":"88a5475.bbcd9b8","type":"function","z":"ba31034.180b9","name":"SetParam","func":"msg.idx = 10;\n\n\nif(msg.temp > 40 && msg.CO2 > 1199) {\n    msg.value = true;\n}else{\n    msg.value = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":720,"wires":[["e33c09e6.fae4a"]]},{"id":"e33c09e6.fae4a","type":"subflow:4418cbb5908845ca","z":"ba31034.180b9","name":"","env":[],"x":1160,"y":720,"wires":[[]]},{"id":"18710ce3.998bfb","type":"debug","z":"ba31034.180b9","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"out","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":780,"wires":[]},{"id":"9a7bb210.89fad8","type":"inject","z":"ba31034.180b9","name":"CheckHumidity","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":840,"wires":[["ba53741c.aa5e08"]]},{"id":"ba53741c.aa5e08","type":"function","z":"ba31034.180b9","name":"TryReadingHumiditySensor","func":"msg.idx = 11;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":840,"wires":[["2765b3df.4d7dac"]]},{"id":"2765b3df.4d7dac","type":"subflow:66f9eac382c6787f","z":"ba31034.180b9","name":"","env":[],"x":200,"y":960,"wires":[["5aa8957c.30a50c","a03984db.701fd"]]},{"id":"a03984db.701fd","type":"function","z":"ba31034.180b9","name":"SetParam","func":"msg.idx = 12;\n\n\nif(msg.out < 50 || msg.out > 70) {\n    msg.value = true;\n}else{\n    msg.value = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":960,"wires":[["8c631805.12395"]]},{"id":"8c631805.12395","type":"subflow:4418cbb5908845ca","z":"ba31034.180b9","name":"","env":[],"x":600,"y":960,"wires":[[]]},{"id":"5aa8957c.30a50c","type":"debug","z":"ba31034.180b9","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"out","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":1020,"wires":[]},{"id":"33942781.e69138","type":"inject","z":"ba31034.180b9","name":"CheckMovement","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"7","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":1120,"wires":[["dafc4c0f.2e00d8"]]},{"id":"dafc4c0f.2e00d8","type":"function","z":"ba31034.180b9","name":"TryReadingPresenceSensor","func":"msg.idx = 13;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1120,"wires":[["e994cd27.a7671"]]},{"id":"e994cd27.a7671","type":"subflow:2ececf23ef45fcf4","z":"ba31034.180b9","name":"","env":[],"x":190,"y":1200,"wires":[["f695a625.cdb9e8","6439d593.992404"]]},{"id":"f695a625.cdb9e8","type":"switch","z":"ba31034.180b9","name":"ProcessResponse","property":"out","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":1200,"wires":[["71f1ca0b.0494b4"],["67625549.f051bc"]]},{"id":"71f1ca0b.0494b4","type":"function","z":"ba31034.180b9","name":"LightON","func":"msg.idx = 14;\nmsg.value = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1180,"wires":[["e366194e.0f8b7"]]},{"id":"67625549.f051bc","type":"function","z":"ba31034.180b9","name":"LightOFF","func":"msg.idx = 14;\nmsg.value = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":1280,"wires":[["ad82abd2.df016"]]},{"id":"e366194e.0f8b7","type":"subflow:4418cbb5908845ca","z":"ba31034.180b9","name":"","env":[],"x":760,"y":1180,"wires":[["9091c150.e61a6","dc202320.197b18"]]},{"id":"9091c150.e61a6","type":"debug","z":"ba31034.180b9","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":1220,"wires":[]},{"id":"6439d593.992404","type":"debug","z":"ba31034.180b9","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":250,"y":1260,"wires":[]},{"id":"dc202320.197b18","type":"delay","z":"ba31034.180b9","name":"Wait","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":1220,"wires":[["67625549.f051bc"]]},{"id":"ad82abd2.df016","type":"subflow:4418cbb5908845ca","z":"ba31034.180b9","name":"","x":760,"y":1280,"wires":[["9091c150.e61a6"]]},{"id":"62f57729.52e73","type":"inject","z":"ba31034.180b9","name":"RandomizePresenceSensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":400,"wires":[["80a56e3c.0b4438"]]},{"id":"80a56e3c.0b4438","type":"function","z":"ba31034.180b9","name":"RandomValues","func":"var ran = Math.random()*10;\nif(ran > 4) msg.payload = true;\nelse msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":400,"wires":[["859a6a9d.3353f"]]},{"id":"859a6a9d.3353f","type":"function","z":"ba31034.180b9","name":"SetParam","func":"msg.idx = 12;\nmsg.value = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":400,"wires":[["e5063cba.31e8c"]]},{"id":"e5063cba.31e8c","type":"subflow:4418cbb5908845ca","z":"ba31034.180b9","name":"","env":[],"x":760,"y":400,"wires":[["9016f9ec.8c639"]]},{"id":"9016f9ec.8c639","type":"debug","z":"ba31034.180b9","name":"Presence","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":400,"wires":[]},{"id":"15557c78.27f874","type":"ui_gauge","z":"ba31034.180b9","name":"CO2Gauge","group":"75ff2419.1bec1c","order":1,"width":6,"height":4,"gtype":"gage","title":"CO2","label":"units","format":"{{value}} ppm","min":"100","max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1000","seg2":"1200","className":"","x":470,"y":320,"wires":[]},{"id":"28a886bc.4d8efa","type":"ui_chart","z":"ba31034.180b9","name":"CO2Time","group":"75ff2419.1bec1c","order":2,"width":6,"height":4,"label":"CO2 over time","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"no data yet","dot":false,"ymin":"100","ymax":"1500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":620,"y":320,"wires":[[]]},{"id":"1d697794.b90e98","type":"ui_gauge","z":"ba31034.180b9","name":"","group":"75ff2419.1bec1c","order":4,"width":6,"height":4,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}°C","min":0,"max":"40","colors":["#150e90","#00b500","#ca3838"],"seg1":"19","seg2":"22","className":"","x":490,"y":100,"wires":[]},{"id":"7867686.1089a98","type":"ui_chart","z":"ba31034.180b9","name":"TempTime","group":"75ff2419.1bec1c","order":5,"width":6,"height":4,"label":"Temperature over time","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"no data yet","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":650,"y":100,"wires":[[]]},{"id":"c912394c.f170a","type":"ui_gauge","z":"ba31034.180b9","name":"","group":"75ff2419.1bec1c","order":7,"width":6,"height":4,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}%","min":"10","max":"100","colors":["#ca3838","#00b500","#ca3838"],"seg1":"50","seg2":"70","className":"","x":440,"y":200,"wires":[]},{"id":"c885652a.39a588","type":"ui_chart","z":"ba31034.180b9","name":"","group":"75ff2419.1bec1c","order":8,"width":6,"height":4,"label":"Humidity over time","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"no data yet","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":610,"y":200,"wires":[[]]},{"id":"75ff2419.1bec1c","type":"ui_group","name":"Food Storage","tab":"4f4d581d.64506","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4f4d581d.64506","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]