flows/lightTest.json
[{"id":"4418cbb5908845ca","type":"subflow","name":"SETSim","info":"","category":"","in":[{"x":40,"y":20,"wires":[{"id":"b299481f03467d6a"}]}],"out":[{"x":580,"y":120,"wires":[{"id":"5730bd93bf173b80","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"b299481f03467d6a","type":"function","z":"4418cbb5908845ca","name":"SetPayload","func":"msg.payload = \"SET \" + msg.idx + \" \" + msg.value + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":80,"wires":[["b1b038f5bd25dbdb"]]},{"id":"b1b038f5bd25dbdb","type":"tcp request","z":"4418cbb5908845ca","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"TCPRequest","x":270,"y":80,"wires":[["5730bd93bf173b80"]]},{"id":"5730bd93bf173b80","type":"function","z":"4418cbb5908845ca","name":"ReadResponse","func":"var out = msg.payload.toString('utf-8');\nmsg.payload = \"Response \" + out;\nvar arrayOut = out.split(\" \");\nif(arrayOut[0]==\"OK\")\n    msg.out = true;\nelse msg.out = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":80,"wires":[[]]},{"id":"2ececf23ef45fcf4","type":"subflow","name":"GETBooleanSim","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"e1f99dd92a4d1d0d"}]}],"out":[{"x":500,"y":180,"wires":[{"id":"165ae1f02af4598f","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"e1f99dd92a4d1d0d","type":"function","z":"2ececf23ef45fcf4","name":"SetPayload","func":"msg.payload = \"GET \" + msg.idx + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":120,"wires":[["ee6f4bdcad778414"]]},{"id":"ee6f4bdcad778414","type":"tcp request","z":"2ececf23ef45fcf4","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"TCPRequest","x":270,"y":120,"wires":[["165ae1f02af4598f"]]},{"id":"165ae1f02af4598f","type":"function","z":"2ececf23ef45fcf4","name":"ReadResponse","func":"var out = msg.payload.toString('utf-8');\nmsg.payload = \"Response \" + out;\nvar arrayOut = out.split(\" \");\nif(arrayOut[0]==\"OK\" && arrayOut[1]==msg.idx)\n    msg.out = arrayOut[2].includes(\"true\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":120,"wires":[[]]},{"id":"0c5b7b70651cca08","type":"tab","label":"LightTest","disabled":false,"info":""},{"id":"5bce72079a5a9706","type":"inject","z":"0c5b7b70651cca08","name":"CheckStatus","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"8","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":40,"wires":[["615563ab4f9827ce"]]},{"id":"615563ab4f9827ce","type":"function","z":"0c5b7b70651cca08","name":"TryReadingPresenceSensor","func":"msg.idx = 4;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":40,"wires":[["c6c39ba465d10d87"]]},{"id":"c6c39ba465d10d87","type":"subflow:2ececf23ef45fcf4","z":"0c5b7b70651cca08","name":"","env":[],"x":140,"y":120,"wires":[["b708ac64468fd013","df06f2cde3ea4794"]]},{"id":"b708ac64468fd013","type":"switch","z":"0c5b7b70651cca08","name":"ProcessResponse","property":"out","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":120,"wires":[["5228b8b34de0cd3d"],["f6e807c25654f985"]]},{"id":"5228b8b34de0cd3d","type":"function","z":"0c5b7b70651cca08","name":"LightON","func":"msg.idx = 5;\nmsg.value = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":100,"wires":[["6e63cc25c7e32d3c"]]},{"id":"f6e807c25654f985","type":"function","z":"0c5b7b70651cca08","name":"LightOFF","func":"msg.idx = 5;\nmsg.value = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":200,"wires":[["978b1bb1a81b0223"]]},{"id":"6e63cc25c7e32d3c","type":"subflow:4418cbb5908845ca","z":"0c5b7b70651cca08","name":"","env":[],"x":680,"y":100,"wires":[["59aefd3ecb847f88","7285c47e4ac69114"]]},{"id":"59aefd3ecb847f88","type":"debug","z":"0c5b7b70651cca08","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":140,"wires":[]},{"id":"df06f2cde3ea4794","type":"debug","z":"0c5b7b70651cca08","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":210,"y":200,"wires":[]},{"id":"7285c47e4ac69114","type":"delay","z":"0c5b7b70651cca08","name":"Wait","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":140,"wires":[["f6e807c25654f985"]]},{"id":"978b1bb1a81b0223","type":"subflow:4418cbb5908845ca","z":"0c5b7b70651cca08","name":"","x":680,"y":200,"wires":[["59aefd3ecb847f88"]]},{"id":"288aea47fbb0887e","type":"inject","z":"0c5b7b70651cca08","name":"RandomizePresenceSensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":340,"wires":[["168e6790f230cd85"]]},{"id":"168e6790f230cd85","type":"function","z":"0c5b7b70651cca08","name":"RandomValues","func":"var ran = Math.random()*10;\nif(ran > 4) msg.payload = true;\nelse msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":340,"wires":[["55a4df2bbba914e9","2cca58aa.a1dd88"]]},{"id":"55a4df2bbba914e9","type":"function","z":"0c5b7b70651cca08","name":"SetParam","func":"msg.idx = 4;\nmsg.value = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":320,"wires":[["c8e3ac8f9b0f0939"]]},{"id":"c8e3ac8f9b0f0939","type":"subflow:4418cbb5908845ca","z":"0c5b7b70651cca08","name":"","env":[],"x":760,"y":340,"wires":[[]]},{"id":"2cca58aa.a1dd88","type":"function","z":"0c5b7b70651cca08","name":"SetParam","func":"msg.idx = 20;\nmsg.value = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":380,"wires":[["c8e3ac8f9b0f0939"]]}]