flows/MQTTControl.json
[{"id":"572108b0.b94df","type":"tab","label":"MQTT Dashboard & Notifications","disabled":false,"info":""},{"id":"19acc17e.26b497","type":"group","z":"572108b0.b94df","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["646a9e55.8b6128","952546b3.8ead","5bd582e0.670354","22a350a4.3e35b8","36205f50.385b28","42159ac9.f1e9d4","63e6f762.ea76b8","3b16f0f.3e7059"],"x":754,"y":19,"w":472,"h":342},{"id":"1b3f5716.d9e6b9","type":"group","z":"572108b0.b94df","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["a196f7f6.b02ea","43fd8820.e46ce","27de0474.bb923c","f31a14a0.f1cf4","894374ff.f4d908","250cfb9a.e798dc","1b17ab29.9916d5","c64cb3fa.140b38","7ff655f6.e70654","96309b20.f33ee8","c865a4c.9f12c58"],"x":54,"y":439,"w":472,"h":422},{"id":"5a6ca331.6385f4","type":"group","z":"572108b0.b94df","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["5d8bb5b2.95761c","a7e2e4b2.e346c","22599101.d965ae","a5e17e41.3d5d8","1dbead4.c5f2b53","3d2da8ed.8d84f","54d3aa6c.b5db8c","aa1b7c81.dde74","7a5af379.c67dcc","91ef17b9.b01b2","9c0fc485.5ef498"],"x":34,"y":939,"w":892,"h":242},{"id":"eb234291.c2e218","type":"group","z":"572108b0.b94df","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c24ff86f.45e34","cfd7356a.7e9f1","550a6935.c42e98","3bdc4f57.8cfef8","c2e3e4b7.6368e","329766d3.c0697a","8c1208e5.61229","b0bda8f5.d8c62","9370bf26.89bf98","5e87c9e6.85dcb8","36f323fb.ac6e6c"],"x":754,"y":439,"w":472,"h":422},{"id":"f5121e62.a432d8","type":"group","z":"572108b0.b94df","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["7a9b857f.1f67f4","3b8a9fda.26db58","f847db60.613108","e3cd5f41.9267","eac30c09.d0a1e8","7d53878a.585058","573f6c06.f0f9e4","2f54415.2e710be"],"x":54,"y":20,"w":472,"h":341},{"id":"7a9b857f.1f67f4","type":"mqtt in","z":"572108b0.b94df","g":"f5121e62.a432d8","name":"CAtemp","topic":"smartbarracks/commonarea/temperature","qos":"2","datatype":"auto","broker":"bae1200f.d7cec8","nl":false,"rap":true,"rh":0,"x":140,"y":120,"wires":[["e3cd5f41.9267"]]},{"id":"3b8a9fda.26db58","type":"comment","z":"572108b0.b94df","g":"f5121e62.a432d8","name":"CommonArea dashboard","info":"","x":190,"y":61,"wires":[]},{"id":"f847db60.613108","type":"mqtt in","z":"572108b0.b94df","g":"f5121e62.a432d8","name":"CAco2","topic":"smartbarracks/commonarea/CO2","qos":"2","datatype":"auto","broker":"bae1200f.d7cec8","nl":false,"rap":true,"rh":0,"x":130,"y":320,"wires":[["eac30c09.d0a1e8"]]},{"id":"e3cd5f41.9267","type":"decrypt","z":"572108b0.b94df","g":"f5121e62.a432d8","name":"Decrypt","algorithm":"AES","key":"lab2024","x":300,"y":120,"wires":[["573f6c06.f0f9e4","7d53878a.585058"]]},{"id":"eac30c09.d0a1e8","type":"decrypt","z":"572108b0.b94df","g":"f5121e62.a432d8","name":"Decrypt","algorithm":"AES","key":"lab2024","x":280,"y":320,"wires":[["2f54415.2e710be"]]},{"id":"7d53878a.585058","type":"debug","z":"572108b0.b94df","g":"f5121e62.a432d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":250,"y":220,"wires":[]},{"id":"573f6c06.f0f9e4","type":"ui_text","z":"572108b0.b94df","g":"f5121e62.a432d8","group":"3d3f39e6.f0d706","order":2,"width":0,"height":0,"name":"Temp","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","x":450,"y":120,"wires":[]},{"id":"2f54415.2e710be","type":"ui_text","z":"572108b0.b94df","g":"f5121e62.a432d8","group":"3d3f39e6.f0d706","order":2,"width":0,"height":0,"name":"CO2","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","x":430,"y":320,"wires":[]},{"id":"646a9e55.8b6128","type":"mqtt in","z":"572108b0.b94df","g":"19acc17e.26b497","name":"Dtemp","topic":"smartbarracks/dormitory/temperature","qos":"2","datatype":"auto","broker":"bae1200f.d7cec8","nl":false,"rap":true,"rh":0,"x":830,"y":120,"wires":[["22a350a4.3e35b8"]]},{"id":"952546b3.8ead","type":"comment","z":"572108b0.b94df","g":"19acc17e.26b497","name":"Dormitory dashboard","info":"","x":880,"y":60,"wires":[]},{"id":"5bd582e0.670354","type":"mqtt in","z":"572108b0.b94df","g":"19acc17e.26b497","name":"Dco2","topic":"smartbarracks/dormitory/CO2","qos":"2","datatype":"auto","broker":"bae1200f.d7cec8","nl":false,"rap":true,"rh":0,"x":830,"y":320,"wires":[["36205f50.385b28"]]},{"id":"22a350a4.3e35b8","type":"decrypt","z":"572108b0.b94df","g":"19acc17e.26b497","name":"Decrypt","algorithm":"AES","key":"lab2024","x":1000,"y":120,"wires":[["63e6f762.ea76b8","42159ac9.f1e9d4"]]},{"id":"36205f50.385b28","type":"decrypt","z":"572108b0.b94df","g":"19acc17e.26b497","name":"Decrypt","algorithm":"AES","key":"lab2024","x":980,"y":320,"wires":[["3b16f0f.3e7059"]]},{"id":"42159ac9.f1e9d4","type":"debug","z":"572108b0.b94df","g":"19acc17e.26b497","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":220,"wires":[]},{"id":"63e6f762.ea76b8","type":"ui_text","z":"572108b0.b94df","g":"19acc17e.26b497","group":"fc989403.a43fb8","order":2,"width":0,"height":0,"name":"Temp","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","x":1150,"y":120,"wires":[]},{"id":"3b16f0f.3e7059","type":"ui_text","z":"572108b0.b94df","g":"19acc17e.26b497","group":"fc989403.a43fb8","order":2,"width":0,"height":0,"name":"CO2","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","x":1130,"y":320,"wires":[]},{"id":"a196f7f6.b02ea","type":"mqtt in","z":"572108b0.b94df","g":"1b3f5716.d9e6b9","name":"FStemp","topic":"smartbarracks/foodstorage/temperature","qos":"2","datatype":"auto","broker":"bae1200f.d7cec8","nl":false,"rap":true,"rh":0,"x":130,"y":540,"wires":[["f31a14a0.f1cf4"]]},{"id":"43fd8820.e46ce","type":"comment","z":"572108b0.b94df","g":"1b3f5716.d9e6b9","name":"FoodStorage dashboard","info":"","x":190,"y":480,"wires":[]},{"id":"27de0474.bb923c","type":"mqtt in","z":"572108b0.b94df","g":"1b3f5716.d9e6b9","name":"FSco2","topic":"smartbarracks/foodstorage/CO2","qos":"2","datatype":"auto","broker":"bae1200f.d7cec8","nl":false,"rap":true,"rh":0,"x":130,"y":740,"wires":[["894374ff.f4d908"]]},{"id":"f31a14a0.f1cf4","type":"decrypt","z":"572108b0.b94df","g":"1b3f5716.d9e6b9","name":"Decrypt","algorithm":"AES","key":"lab2024","x":300,"y":540,"wires":[["1b17ab29.9916d5","250cfb9a.e798dc"]]},{"id":"894374ff.f4d908","type":"decrypt","z":"572108b0.b94df","g":"1b3f5716.d9e6b9","name":"Decrypt","algorithm":"AES","key":"lab2024","x":280,"y":740,"wires":[["c64cb3fa.140b38"]]},{"id":"250cfb9a.e798dc","type":"debug","z":"572108b0.b94df","g":"1b3f5716.d9e6b9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":250,"y":640,"wires":[]},{"id":"1b17ab29.9916d5","type":"ui_text","z":"572108b0.b94df","g":"1b3f5716.d9e6b9","group":"a4fbcd45.56b7b8","order":2,"width":0,"height":0,"name":"Temp","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","x":450,"y":540,"wires":[]},{"id":"c64cb3fa.140b38","type":"ui_text","z":"572108b0.b94df","g":"1b3f5716.d9e6b9","group":"a4fbcd45.56b7b8","order":2,"width":0,"height":0,"name":"CO2","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","x":430,"y":740,"wires":[]},{"id":"7ff655f6.e70654","type":"mqtt in","z":"572108b0.b94df","g":"1b3f5716.d9e6b9","name":"FShumidity","topic":"smartbarracks/foodstorage/humidity","qos":"2","datatype":"auto","broker":"bae1200f.d7cec8","nl":false,"rap":true,"rh":0,"x":140,"y":820,"wires":[["96309b20.f33ee8"]]},{"id":"96309b20.f33ee8","type":"decrypt","z":"572108b0.b94df","g":"1b3f5716.d9e6b9","name":"Decrypt","algorithm":"AES","key":"lab2024","x":280,"y":820,"wires":[["c865a4c.9f12c58"]]},{"id":"c865a4c.9f12c58","type":"ui_text","z":"572108b0.b94df","g":"1b3f5716.d9e6b9","group":"a4fbcd45.56b7b8","order":2,"width":0,"height":0,"name":"Humidity","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","x":440,"y":820,"wires":[]},{"id":"c24ff86f.45e34","type":"mqtt in","z":"572108b0.b94df","g":"eb234291.c2e218","name":"Atemp","topic":"smartbarracks/armory/temperature","qos":"2","datatype":"auto","broker":"bae1200f.d7cec8","nl":false,"rap":true,"rh":0,"x":830,"y":540,"wires":[["3bdc4f57.8cfef8"]]},{"id":"cfd7356a.7e9f1","type":"comment","z":"572108b0.b94df","g":"eb234291.c2e218","name":"Armory dashboard","info":"","x":870,"y":480,"wires":[]},{"id":"550a6935.c42e98","type":"mqtt in","z":"572108b0.b94df","g":"eb234291.c2e218","name":"Aco2","topic":"smartbarracks/armory/CO2","qos":"2","datatype":"auto","broker":"bae1200f.d7cec8","nl":false,"rap":true,"rh":0,"x":830,"y":740,"wires":[["c2e3e4b7.6368e"]]},{"id":"3bdc4f57.8cfef8","type":"decrypt","z":"572108b0.b94df","g":"eb234291.c2e218","name":"Decrypt","algorithm":"AES","key":"lab2024","x":1000,"y":540,"wires":[["8c1208e5.61229","329766d3.c0697a"]]},{"id":"c2e3e4b7.6368e","type":"decrypt","z":"572108b0.b94df","g":"eb234291.c2e218","name":"Decrypt","algorithm":"AES","key":"lab2024","x":980,"y":740,"wires":[["b0bda8f5.d8c62"]]},{"id":"329766d3.c0697a","type":"debug","z":"572108b0.b94df","g":"eb234291.c2e218","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":640,"wires":[]},{"id":"8c1208e5.61229","type":"ui_text","z":"572108b0.b94df","g":"eb234291.c2e218","group":"3f5dcd03.401662","order":2,"width":0,"height":0,"name":"Temp","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","x":1150,"y":540,"wires":[]},{"id":"b0bda8f5.d8c62","type":"ui_text","z":"572108b0.b94df","g":"eb234291.c2e218","group":"3f5dcd03.401662","order":2,"width":0,"height":0,"name":"CO2","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","x":1130,"y":740,"wires":[]},{"id":"9370bf26.89bf98","type":"mqtt in","z":"572108b0.b94df","g":"eb234291.c2e218","name":"Ahumidity","topic":"smartbarracks/armory/humidity","qos":"2","datatype":"auto","broker":"bae1200f.d7cec8","nl":false,"rap":true,"rh":0,"x":840,"y":820,"wires":[["5e87c9e6.85dcb8"]]},{"id":"5e87c9e6.85dcb8","type":"decrypt","z":"572108b0.b94df","g":"eb234291.c2e218","name":"Decrypt","algorithm":"AES","key":"lab2024","x":980,"y":820,"wires":[["36f323fb.ac6e6c"]]},{"id":"36f323fb.ac6e6c","type":"ui_text","z":"572108b0.b94df","g":"eb234291.c2e218","group":"3f5dcd03.401662","order":2,"width":0,"height":0,"name":"Humidity","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","x":1140,"y":820,"wires":[]},{"id":"5d8bb5b2.95761c","type":"mqtt in","z":"572108b0.b94df","g":"5a6ca331.6385f4","name":"FireAlarmListener","topic":"smartbarracks/alarm/fire","qos":"2","datatype":"auto-detect","broker":"6f8d8e927d3fc46d","nl":false,"rap":true,"rh":0,"x":140,"y":1040,"wires":[["a7e2e4b2.e346c"]]},{"id":"a7e2e4b2.e346c","type":"decrypt","z":"572108b0.b94df","g":"5a6ca331.6385f4","name":"Decrypt","algorithm":"AES","key":"lab2024","x":380,"y":1040,"wires":[["a5e17e41.3d5d8"]]},{"id":"22599101.d965ae","type":"e-mail out","z":"572108b0.b94df","g":"5a6ca331.6385f4","server":"smtp.libero.it","port":"465","secure":true,"name":"its_lab_gm@libero.it","dname":"mail","x":690,"y":1040,"wires":[["1dbead4.c5f2b53"]]},{"id":"a5e17e41.3d5d8","type":"function","z":"572108b0.b94df","g":"5a6ca331.6385f4","name":"","func":"msg.from = [{\"address\":\"its_lab_gm@libero.it\", \"name\":\"SmartBarracksNotification\"}];\nmsg.topic = msg.payload;\nmsg.body = `Dear Recipient,\n\nThis is an urgent notification to inform you that a fire alarm has been detected.\n\nImmediate action is required to ensure the safety of all personnel and property. Please proceed according to the emergency protocols and evacuate the premises if necessary.\n\nFire safety teams have been alerted and are on their way to assess and handle the situation.\n\nFor further information or assistance, please contact the fire safety officer.\n\nStay safe and follow all emergency procedures.\n\nBest regards,\n\nThe Smart Barracks Team`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1040,"wires":[["22599101.d965ae"]]},{"id":"1dbead4.c5f2b53","type":"debug","z":"572108b0.b94df","g":"5a6ca331.6385f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":1040,"wires":[]},{"id":"3d2da8ed.8d84f","type":"mqtt in","z":"572108b0.b94df","g":"5a6ca331.6385f4","name":"AccessAlarmListener","topic":"smartbarracks/alarm/access","qos":"2","datatype":"auto-detect","broker":"6f8d8e927d3fc46d","nl":false,"rap":true,"rh":0,"x":160,"y":1140,"wires":[["54d3aa6c.b5db8c"]]},{"id":"54d3aa6c.b5db8c","type":"decrypt","z":"572108b0.b94df","g":"5a6ca331.6385f4","name":"Decrypt","algorithm":"AES","key":"lab2024","x":380,"y":1140,"wires":[["7a5af379.c67dcc"]]},{"id":"aa1b7c81.dde74","type":"e-mail out","z":"572108b0.b94df","g":"5a6ca331.6385f4","server":"smtp.libero.it","port":"465","secure":true,"name":"its_lab_gm@libero.it","dname":"mail","x":690,"y":1140,"wires":[["91ef17b9.b01b2"]]},{"id":"7a5af379.c67dcc","type":"function","z":"572108b0.b94df","g":"5a6ca331.6385f4","name":"","func":"msg.from = [{\"address\":\"its_lab_gm@libero.it\", \"name\":\"SmartBarracksNotification\"}];\nmsg.topic = msg.payload;\nmsg.body = `Dear Recipient,\n\nThis is an urgent notification to inform you that an unauthorized access alarm has been detected.\n\nImmediate action is required to ensure the security of all personnel and property. Please proceed according to the security protocols and take necessary precautions.\n\nSecurity teams have been alerted and are on their way to assess and handle the situation.\n\nFor further information or assistance, please contact the security officer.\n\nStay safe and follow all security procedures.\n\nBest regards,\n\nThe Smart Barracks Team`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1140,"wires":[["aa1b7c81.dde74"]]},{"id":"91ef17b9.b01b2","type":"debug","z":"572108b0.b94df","g":"5a6ca331.6385f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":1140,"wires":[]},{"id":"9c0fc485.5ef498","type":"comment","z":"572108b0.b94df","g":"5a6ca331.6385f4","name":"Alarm notifications via e-mail","info":"","x":180,"y":980,"wires":[]},{"id":"bae1200f.d7cec8","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3d3f39e6.f0d706","type":"ui_group","name":"CommonArea","tab":"4f4d581d.64506","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"fc989403.a43fb8","type":"ui_group","name":"Dormitory","tab":"4f4d581d.64506","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a4fbcd45.56b7b8","type":"ui_group","name":"FoodStorage","tab":"4f4d581d.64506","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3f5dcd03.401662","type":"ui_group","name":"Armory","tab":"4f4d581d.64506","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6f8d8e927d3fc46d","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4f4d581d.64506","type":"ui_tab","name":"MQTT","icon":"dashboard","disabled":false,"hidden":false}]