flows/WebformV2.json
[{"id":"4418cbb5908845ca","type":"subflow","name":"SETSim","info":"","category":"","in":[{"x":40,"y":20,"wires":[{"id":"b299481f03467d6a"}]}],"out":[{"x":580,"y":120,"wires":[{"id":"5730bd93bf173b80","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"b299481f03467d6a","type":"function","z":"4418cbb5908845ca","name":"SetPayload","func":"msg.payload = \"SET \" + msg.idx + \" \" + msg.value + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":80,"wires":[["b1b038f5bd25dbdb"]]},{"id":"b1b038f5bd25dbdb","type":"tcp request","z":"4418cbb5908845ca","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"TCPRequest","x":270,"y":80,"wires":[["5730bd93bf173b80"]]},{"id":"5730bd93bf173b80","type":"function","z":"4418cbb5908845ca","name":"ReadResponse","func":"var out = msg.payload.toString('utf-8');\nmsg.payload = \"Response \" + out;\nvar arrayOut = out.split(\" \");\nif(arrayOut[0]==\"OK\")\n    msg.out = true;\nelse msg.out = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":80,"wires":[[]]},{"id":"dd760cf501f56cc3","type":"tab","label":"WebForm","disabled":false,"info":""},{"id":"30f6e7d39533a954","type":"http in","z":"dd760cf501f56cc3","name":"FormConnection","url":"/managebarracks","method":"get","upload":false,"swaggerDoc":"","x":120,"y":40,"wires":[["9d39ce1ed70902ad"]]},{"id":"9d39ce1ed70902ad","type":"function","z":"dd760cf501f56cc3","name":"SetUrlPost","func":"msg.url = \"barrackspost\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":40,"wires":[["d5ea65836e273cd4"]]},{"id":"d5ea65836e273cd4","type":"template","z":"dd760cf501f56cc3","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"$(document).ready(function(e) {\n\n    $(\"form[ajax=true]\").submit(function(e) {\n    \n    e.preventDefault(); //disables the default button operation\n    \n    var form_data = $(this).serialize(); //create a json with data from the form\n    var form_url = $(this).attr(\"action\"); //to read the action parameter\n    var form_method = $(this).attr(\"method\").toUpperCase(); //to read the method parameter\n    \n    $.ajax({\n        url: form_url,\n        type: form_method,\n        data: form_data,\n        cache: false,\n        \n        success: function(returnhtml){\n            // $(\"#result\").html(returnhtml);\n            alert(\"Data successfully transmitted\");\n        }\n    });\n    \n    });\n\n});","output":"str","x":480,"y":40,"wires":[["ca61eb8df70dad77"]]},{"id":"ca61eb8df70dad77","type":"template","z":"dd760cf501f56cc3","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid lightblue;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: lightblue;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: lightblue;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}\n\n.room{\n    display: none; /* Initially hide the div */\n    padding: 20px;\n    background-color: #f0f0f0;\n    margin-top: 20px;\n        }","output":"str","x":610,"y":40,"wires":[["faddd81ecf134bd4"]]},{"id":"faddd81ecf134bd4","type":"template","z":"dd760cf501f56cc3","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\t<head>\n\t\t<title>Smart Barracks Manager</title>\n\t\t<meta charset=\"utf-8\">\n\t\t<script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n\t\t<style>{{{payload.style}}}</style>\n\t</head>\n\t\n\t<body>\n\t\t<h2 style=\"text-align:center;\">Smart Barracks Manager</h2>\n\t\t\n\t\t<div style=\"text-align:center;\">\n            <button onclick=\"toggleDiv('commonarea')\">Common Area</button>\n\t\t    <button onclick=\"toggleDiv('foodstorage')\">Food Storage</button>\n\t\t    <button onclick=\"toggleDiv('dormitory')\">Dormitory</button>\n\t\t</div>\n        \n        <!--- COMMON AREA --->\n\t\t\n\t\t<div id=\"commonarea\" class=\"room\">\n\t\t\t<h3>Common Area</h3>\n\t\t\t<form method=\"post\" action=\"/{{url}}/commonarea\" ajax=\"true\">\n\t\t\t\t<label for=\"temp\">Temperature</label> \n\t\t\t\t<input type=\"text\" id=\"temp\" name=\"temp\" />\n\t\t\t\t<input type=\"submit\" value=\"Set\" />\n\t\t\t<form method=\"post\" action=\"/{{url}}/commonarea\" ajax=\"true\">\n\t\t\t\t<label for=\"light\">Light</label>\n\t\t\t\t<select id=\"light\" name=\"light\">\n\t\t\t\t\t<option value=\"\">-</option>\n\t\t\t\t\t<option value=\"on\">ON</option>\n\t\t\t\t\t<option value=\"off\">OFF</option>\n\t\t\t\t</select>\n\t\t\t\t<input type=\"submit\" value=\"Set\" />\n\t\t\t</form>\n\t\t</div>\n\t\t\n\t\t<!--- FOOD STORAGE---->\n\t\t\n\t\t<div id=\"foodstorage\" class=\"room\">\n\t\t\t<h3>Food Storage</h3>\n\t\t\t<form method=\"post\" action=\"/{{url}}/foodstorage\" ajax=\"true\">\n\t\t\t\t<label for=\"temp\">Temperature</label> \n\t\t\t\t<input type=\"text\" id=\"temp\" name=\"temp\" />\n\t\t\t\t<input type=\"submit\" value=\"Set\" />\n\t\t\t</form>\n            <form method=\"post\" action=\"/{{url}}/foodstorage\" ajax=true>\n\t\t\t\t<label for=\"hum\">Humidity</label> \n\t\t\t\t<input type=\"text\" id=\"hum\" name=\"hum\" />\n\t\t\t\t<input type=\"submit\" value=\"set\" />\n            </form>\n\t\t\t<form method=\"post\" action=\"/{{url}}/foodstorage\" ajax=\"true\">\n\t\t\t\t<label for=\"light\">Light</label>\n\t\t\t\t<select id=\"light\" name=\"light\">\n\t\t\t\t\t<option value=\"\">-</option>\n\t\t\t\t\t<option value=\"on\">ON</option>\n\t\t\t\t\t<option value=\"off\">OFF</option>\n\t\t\t\t</select>\n\t\t\t\t<input type=\"submit\" value=\"Set\" />\n\t\t\t</form>\n\t\t</div>\n\t\t\n\t\t<!--- DORMITORY --->\n\t\t\n\t\t<div id=\"dormitory\" class=\"room\">\n\t\t\t<h3>Dormitory</h3>\n\t\t\t<form method=\"post\" action=\"/{{url}}/dormitory\" ajax=\"true\">\n\t\t\t\t<label for=\"temp\">Temperature</label> \n\t\t\t\t<input type=\"text\" id=\"temp\" name=\"temp\" />\n\t\t\t\t<input type=\"submit\" value=\"Set\" />\n\t\t\t</form>\n\t\t\t<form method=\"post\" action=\"/{{url}}/dormitory\" ajax=\"true\">\n\t\t\t\t<label for=\"light\">Light</label>\n\t\t\t\t<select id=\"light\" name=\"light\">\n\t\t\t\t\t<option value=\"\">-</option>\n\t\t\t\t\t<option value=\"on\">ON</option>\n\t\t\t\t\t<option value=\"off\">OFF</option>\n\t\t\t\t</select>\n\t\t\t\t<input type=\"submit\" value=\"Set\" />\n\t\t\t</form>\n\t\t</div>\n\t</body>\n\t\n\t<script>{{{payload.script}}}</script>\n\t<script>\n\t\t// JavaScript function to toggle div visibility\n\t\tfunction toggleDiv(divId) {\n\t\t    var divs = document.querySelectorAll('.room'); // Get all divs\n\t\t    divs.forEach(function(div) {\n\t\t        if (div.id === divId) {\n\t\t            // Toggle the clicked div\n\t\t            div.style.display = (div.style.display === \"none\" || div.style.display === \"\") ? \"block\" : \"none\";\n\t\t        } else {\n\t\t            // Hide other divs\n\t\t            div.style.display = \"none\";\n\t\t        }\n\t\t    });\n\t\t}\n\t</script>\n</html>\n","output":"str","x":730,"y":40,"wires":[["0aa2ee13dc7e842c"]]},{"id":"0aa2ee13dc7e842c","type":"http response","z":"dd760cf501f56cc3","name":"HTTPResponse","statusCode":"","headers":{},"x":900,"y":40,"wires":[]},{"id":"1634879a8a7e8367","type":"http in","z":"dd760cf501f56cc3","name":"CommonAreaPost","url":"barrackspost/commonarea","method":"post","upload":false,"swaggerDoc":"","x":130,"y":120,"wires":[["4759da09b701363f","17e6433c0dffe926"]]},{"id":"4759da09b701363f","type":"json","z":"dd760cf501f56cc3","name":"","property":"payload","action":"","pretty":false,"x":310,"y":120,"wires":[["4c0f3e194cf8aa3a"]]},{"id":"4c0f3e194cf8aa3a","type":"function","z":"dd760cf501f56cc3","name":"Result","func":"msg.payload = \"Data correctly transmitted: \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":120,"wires":[["14838b9cc80f6fa0"]]},{"id":"14838b9cc80f6fa0","type":"http response","z":"dd760cf501f56cc3","name":"HTTPResponse","statusCode":"","headers":{},"x":620,"y":120,"wires":[]},{"id":"17e6433c0dffe926","type":"function","z":"dd760cf501f56cc3","name":"StorePayload","func":"msg.input = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":180,"wires":[["ae672a3df7372111","dfe6e8666cb8bfa7"]]},{"id":"ae672a3df7372111","type":"switch","z":"dd760cf501f56cc3","name":"Light","property":"input.light","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":200,"wires":[["d0ad955c837c55b2"],["7a9018aa22c02249"]]},{"id":"d0ad955c837c55b2","type":"function","z":"dd760cf501f56cc3","name":"LightON","func":"msg.idx = 6;\nmsg.value = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":180,"wires":[["387bd0a2164b845a"]]},{"id":"7a9018aa22c02249","type":"function","z":"dd760cf501f56cc3","name":"LightOFF","func":"msg.idx = 6;\nmsg.value = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":220,"wires":[["387bd0a2164b845a"]]},{"id":"387bd0a2164b845a","type":"subflow:4418cbb5908845ca","z":"dd760cf501f56cc3","name":"","x":760,"y":200,"wires":[[]]},{"id":"5155168c1c0f08a3","type":"subflow:4418cbb5908845ca","z":"dd760cf501f56cc3","name":"","x":620,"y":260,"wires":[[]]},{"id":"dfe6e8666cb8bfa7","type":"function","z":"dd760cf501f56cc3","name":"SetParam","func":"msg.idx = 1;\nmsg.value = msg.input.temp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":260,"wires":[["5155168c1c0f08a3"]]},{"id":"816a9a05.354298","type":"http in","z":"dd760cf501f56cc3","name":"FoodStoragePost","url":"barrackspost/foodstorage","method":"post","upload":false,"swaggerDoc":"","x":120,"y":320,"wires":[["356b928a.d8af66","f4753ca1.cbb02"]]},{"id":"356b928a.d8af66","type":"json","z":"dd760cf501f56cc3","name":"","property":"payload","action":"","pretty":false,"x":290,"y":320,"wires":[["aa3b54c2.a0999"]]},{"id":"aa3b54c2.a0999","type":"function","z":"dd760cf501f56cc3","name":"Result","func":"msg.payload = \"Data correctly transmitted: \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":320,"wires":[["be48fc8c.8d9f58"]]},{"id":"be48fc8c.8d9f58","type":"http response","z":"dd760cf501f56cc3","name":"HTTPResponse","statusCode":"","headers":{},"x":600,"y":320,"wires":[]},{"id":"f4753ca1.cbb02","type":"function","z":"dd760cf501f56cc3","name":"StorePayload","func":"msg.input = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":400,"wires":[["7c19386a.705e9","7ade4398.e81424","f629de41.1c1f6"]]},{"id":"7c19386a.705e9","type":"switch","z":"dd760cf501f56cc3","name":"Light","property":"input.light","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":420,"wires":[["3cd8fe33.1b630a"],["f95fdeb6.e895d8"]]},{"id":"3cd8fe33.1b630a","type":"function","z":"dd760cf501f56cc3","name":"LightON","func":"msg.idx = 14;\nmsg.value = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":400,"wires":[["a0abf95b.7877a"]]},{"id":"f95fdeb6.e895d8","type":"function","z":"dd760cf501f56cc3","name":"LightOFF","func":"msg.idx = 14;\nmsg.value = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":440,"wires":[["a0abf95b.7877a"]]},{"id":"a0abf95b.7877a","type":"subflow:4418cbb5908845ca","z":"dd760cf501f56cc3","name":"","x":780,"y":420,"wires":[[]]},{"id":"b9edabca.ae8e58","type":"http in","z":"dd760cf501f56cc3","name":"DormitoryPost","url":"barrackspost/dormitory","method":"post","upload":false,"swaggerDoc":"","x":130,"y":600,"wires":[["b0116010.54e2d","702ae671.b37328"]]},{"id":"b0116010.54e2d","type":"json","z":"dd760cf501f56cc3","name":"","property":"payload","action":"","pretty":false,"x":290,"y":600,"wires":[["91218b8c.6096f8"]]},{"id":"91218b8c.6096f8","type":"function","z":"dd760cf501f56cc3","name":"Result","func":"msg.payload = \"Data correctly transmitted: \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":600,"wires":[["e8eefadc.5c52f8"]]},{"id":"e8eefadc.5c52f8","type":"http response","z":"dd760cf501f56cc3","name":"HTTPResponse","statusCode":"","headers":{},"x":600,"y":600,"wires":[]},{"id":"702ae671.b37328","type":"function","z":"dd760cf501f56cc3","name":"StorePayload","func":"msg.input = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":660,"wires":[["f7aa974f.2a0c3","3cc1c652.81c822"]]},{"id":"f7aa974f.2a0c3","type":"switch","z":"dd760cf501f56cc3","name":"Light","property":"input.light","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":680,"wires":[["2cba6717.25b0d"],["9dc9b08c.63f958"]]},{"id":"2cba6717.25b0d","type":"function","z":"dd760cf501f56cc3","name":"LightON","func":"msg.idx = 19;\nmsg.value = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":660,"wires":[["e858f861.04f608"]]},{"id":"9dc9b08c.63f958","type":"function","z":"dd760cf501f56cc3","name":"LightOFF","func":"msg.idx = 19;\nmsg.value = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":700,"wires":[["e858f861.04f608"]]},{"id":"e858f861.04f608","type":"subflow:4418cbb5908845ca","z":"dd760cf501f56cc3","name":"","x":820,"y":680,"wires":[[]]},{"id":"1e965ea9.b241f1","type":"subflow:4418cbb5908845ca","z":"dd760cf501f56cc3","name":"","x":640,"y":500,"wires":[[]]},{"id":"7ade4398.e81424","type":"function","z":"dd760cf501f56cc3","name":"SetTemp","func":"msg.idx = 7;\nmsg.value = msg.input.temp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":500,"wires":[["1e965ea9.b241f1"]]},{"id":"4c5a9aa5.c21be4","type":"subflow:4418cbb5908845ca","z":"dd760cf501f56cc3","name":"","x":700,"y":760,"wires":[[]]},{"id":"3cc1c652.81c822","type":"function","z":"dd760cf501f56cc3","name":"SetParam","func":"msg.idx = 15;\nmsg.value = msg.input.temp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":760,"wires":[["4c5a9aa5.c21be4"]]},{"id":"6354b347.a491ec","type":"subflow:4418cbb5908845ca","z":"dd760cf501f56cc3","name":"","x":660,"y":540,"wires":[[]]},{"id":"f629de41.1c1f6","type":"function","z":"dd760cf501f56cc3","name":"SetHumidity","func":"msg.idx = 11;\nmsg.value = msg.input.hum;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":540,"wires":[["6354b347.a491ec"]]}]