flows/Webform.json
[{"id":"4418cbb5908845ca","type":"subflow","name":"SETSim","info":"","category":"","in":[{"x":40,"y":20,"wires":[{"id":"b299481f03467d6a"}]}],"out":[{"x":580,"y":120,"wires":[{"id":"5730bd93bf173b80","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"b299481f03467d6a","type":"function","z":"4418cbb5908845ca","name":"SetPayload","func":"msg.payload = \"SET \" + msg.idx + \" \" + msg.value + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":80,"wires":[["b1b038f5bd25dbdb"]]},{"id":"b1b038f5bd25dbdb","type":"tcp request","z":"4418cbb5908845ca","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"TCPRequest","x":270,"y":80,"wires":[["5730bd93bf173b80"]]},{"id":"5730bd93bf173b80","type":"function","z":"4418cbb5908845ca","name":"ReadResponse","func":"var out = msg.payload.toString('utf-8');\nmsg.payload = \"Response \" + out;\nvar arrayOut = out.split(\" \");\nif(arrayOut[0]==\"OK\")\n    msg.out = true;\nelse msg.out = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":80,"wires":[[]]},{"id":"dd760cf501f56cc3","type":"tab","label":"WebForm","disabled":false,"info":""},{"id":"30f6e7d39533a954","type":"http in","z":"dd760cf501f56cc3","name":"FormConnection","url":"/managebarracks","method":"get","upload":false,"swaggerDoc":"","x":120,"y":40,"wires":[["9d39ce1ed70902ad"]]},{"id":"9d39ce1ed70902ad","type":"function","z":"dd760cf501f56cc3","name":"SetUrlPost","func":"msg.url = \"barrackspost\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":40,"wires":[["d5ea65836e273cd4"]]},{"id":"d5ea65836e273cd4","type":"template","z":"dd760cf501f56cc3","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"$(document).ready(function(e) {\n\n$(\"form[ajax=true]\").submit(function(e) {\n\ne.preventDefault(); //disables the default button operation\n\nvar form_data = $(this).serialize(); //create a json with data from the form\nvar form_url = $(this).attr(\"action\"); //to read the action parameter\nvar form_method = $(this).attr(\"method\").toUpperCase(); //to read the method parameter\n$.ajax({\nurl: form_url,\ntype: form_method,\ndata: form_data,\ncache: false,\nsuccess: function(returnhtml){\n$(\"#result\").html(returnhtml);\nalert(\"Data successfully transmitted\");\n}\n});\n\n});\n\n});","output":"str","x":480,"y":40,"wires":[["ca61eb8df70dad77"]]},{"id":"ca61eb8df70dad77","type":"template","z":"dd760cf501f56cc3","name":"CSS","field":"payload.style","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"input[type=text], select {\nwidth: 100%;\npadding: 12px 20px;\nmargin: 8px 0;\ndisplay: inline-block;\nborder: 1px solid lightblue;\nborder-radius: 4px;\nbox-sizing: border-box;\n}\n\n\n\ninput[type=submit] {\nwidth: 100%;\nbackground-color: lightblue;\ncolor: white;\npadding: 14px 20px;\nmargin: 8px 0;\nborder: none;\nborder-radius: 4px;\ncursor: pointer;\n}\n\n\n\ninput[type=submit]:hover {\nbackground-color: lightblue;\n}\n\n\n\ndiv {\nborder-radius: 5px;\nbackground-color: #f2f2f2;\npadding: 20px;\n}\n\n.room{\n            display: none; /* Initially hide the div */\n            padding: 20px;\n            background-color: #f0f0f0;\n            margin-top: 20px;\n        }","output":"str","x":610,"y":40,"wires":[["faddd81ecf134bd4"]]},{"id":"faddd81ecf134bd4","type":"template","z":"dd760cf501f56cc3","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Smart Barracks Manager</title>\n        <meta charset=\"utf-8\">\n        <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n        <style>{{{payload.style}}}</style>\n    </head>\n    <body>\n        <h2>Smart Barracks Manager</h2>\n        <button onclick=\"toggleDiv('commonarea')\">Common Area</button>\n        <button onclick=\"toggleDiv('foodstorage')\">Food Storage</button>\n        <button onclick=\"toggleDiv('dormitory')\">Dormitory</button>\n        \n        <div id=\"commonarea\" class=\"room\">\n            <h3>Common Area</h3>\n           <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n               \n              <label for=\"temp\">Temperature</label> \n              <input type=\"text\" id=\"temp\" name=\"temp\" />\n              \n\n              <label for=\"light\">Light</label>\n              <select id=\"light\" name=\"light\">\n                  <option value=\"\">-</option>\n                  <option value=\"on\">ON</option>\n                  <option value=\"off\">OFF</option>\n              </select>\n              \n              <input type=\"submit\" value=\"Set\" />\n           </form>\n           \n           <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n                             \n            <label for=\"air\">Air Conditioning</label>\n              <select id=\"air\" name=\"air\">\n                  <option value=\"\">-</option>\n                  <option value=\"on\">ON</option>\n                  <option value=\"off\">OFF</option>\n              </select>\n              \n            <label for=\"term\">Thermostat</label>\n              <select id=\"term\" name=\"term\">\n                  <option value=\"\">-</option>\n                  <option value=\"on\">ON</option>\n                  <option value=\"off\">OFF</option>\n              </select>\n              \n              <input type=\"submit\" value=\"Set\" />\n           </form>\n           <div><span id=\"result\"></span></div>\n        </div>\n        <div id=\"foodstorage\" class=\"room\">\n            <h3>Food Storage</h3>\n            <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n               \n              <label for=\"temp\">Temperature</label> \n              <input type=\"text\" id=\"temp\" name=\"temp\" />\n                <label for=\"hum\">humidity</label> \n              <input type=\"text\" id=\"hum\" name=\"hum\" />\n              \n              <input type=\"submit\" value=\"Set\" />\n           </form>\n            <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n                             \n            <label for=\"air\">Air Conditioning</label>\n              <select id=\"air\" name=\"air\">\n                  <option value=\"\">-</option>\n                  <option value=\"on\">ON</option>\n                  <option value=\"off\">OFF</option>\n              </select>\n              \n            <label for=\"term\">Thermostat</label>\n              <select id=\"term\" name=\"term\">\n                  <option value=\"\">-</option>\n                  <option value=\"on\">ON</option>\n                  <option value=\"off\">OFF</option>\n              </select>\n              \n              <input type=\"submit\" value=\"Set\" />\n           </form>\n           <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n                \n              <label for=\"light\">Light</label>\n              <select id=\"light\" name=\"light\">\n                  <option value=\"\">-</option>\n                  <option value=\"on\">ON</option>\n                  <option value=\"off\">OFF</option>\n              </select>\n              \n              <input type=\"submit\" value=\"Set\" />\n           </form>\n        </div>\n        <div id=\"dormitory\" class=\"room\">\n            <h3>Dormitory</h3>\n            <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n                             \n            <label for=\"air\">Air Conditioning</label>\n              <select id=\"air\" name=\"air\">\n                  <option value=\"\">-</option>\n                  <option value=\"on\">ON</option>\n                  <option value=\"off\">OFF</option>\n              </select>\n              \n            <label for=\"term\">Thermostat</label>\n              <select id=\"term\" name=\"term\">\n                  <option value=\"\">-</option>\n                  <option value=\"on\">ON</option>\n                  <option value=\"off\">OFF</option>\n              </select>\n              \n              <input type=\"submit\" value=\"Set\" />\n           </form>\n            <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n                \n              <label for=\"light\">Light</label>\n              <select id=\"light\" name=\"light\">\n                  <option value=\"\">-</option>\n                  <option value=\"on\">ON</option>\n                  <option value=\"off\">OFF</option>\n              </select>\n              \n              <input type=\"submit\" value=\"Set\" />\n           </form>\n        </div>\n        \n    </body>\n    <script>{{{payload.script}}}</script>\n    <script>\n        // JavaScript function to toggle div visibility\n        function toggleDiv(divId) {\n            var divs = document.querySelectorAll('.room'); // Get all divs\n            divs.forEach(function(div) {\n                if (div.id === divId) {\n                    // Toggle the clicked div\n                    div.style.display = (div.style.display === \"none\" || div.style.display === \"\") ? \"block\" : \"none\";\n                } else {\n                    // Hide other divs\n                    div.style.display = \"none\";\n                }\n            });\n        }\n    </script>\n</html>","output":"str","x":730,"y":40,"wires":[["0aa2ee13dc7e842c"]]},{"id":"0aa2ee13dc7e842c","type":"http response","z":"dd760cf501f56cc3","name":"HTTPResponse","statusCode":"","headers":{},"x":900,"y":40,"wires":[]},{"id":"1634879a8a7e8367","type":"http in","z":"dd760cf501f56cc3","name":"Post","url":"barrackspost","method":"post","upload":false,"swaggerDoc":"","x":90,"y":120,"wires":[["4759da09b701363f","17e6433c0dffe926"]]},{"id":"4759da09b701363f","type":"json","z":"dd760cf501f56cc3","name":"","property":"payload","action":"","pretty":false,"x":230,"y":120,"wires":[["4c0f3e194cf8aa3a"]]},{"id":"4c0f3e194cf8aa3a","type":"function","z":"dd760cf501f56cc3","name":"Result","func":"msg.payload = \"Data correctly transmitted: \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":120,"wires":[["14838b9cc80f6fa0"]]},{"id":"14838b9cc80f6fa0","type":"http response","z":"dd760cf501f56cc3","name":"HTTPResponse","statusCode":"","headers":{},"x":540,"y":120,"wires":[]},{"id":"17e6433c0dffe926","type":"function","z":"dd760cf501f56cc3","name":"StorePayload","func":"msg.input = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":180,"wires":[["ae672a3df7372111","4d23f536da5d14b5","5f63beeb.dd1e18","5ce0beb.ebef84"]]},{"id":"ae672a3df7372111","type":"switch","z":"dd760cf501f56cc3","name":"Light","property":"input.light","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":200,"wires":[["d0ad955c837c55b2"],["7a9018aa22c02249"]]},{"id":"4d23f536da5d14b5","type":"switch","z":"dd760cf501f56cc3","name":"Temperature","property":"input.temp","propertyType":"msg","rules":[{"t":"gt","v":"22","vt":"num"},{"t":"lte","v":"18","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":320,"wires":[["b51e7f1ce70dfccf","dfe6e8666cb8bfa7"],["37e3065142e670ef","dfe6e8666cb8bfa7"]]},{"id":"d0ad955c837c55b2","type":"function","z":"dd760cf501f56cc3","name":"LightON","func":"msg.idx = 5;\nmsg.value = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":180,"wires":[["387bd0a2164b845a"]]},{"id":"7a9018aa22c02249","type":"function","z":"dd760cf501f56cc3","name":"LightOFF","func":"msg.idx = 5;\nmsg.value = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":220,"wires":[["387bd0a2164b845a"]]},{"id":"387bd0a2164b845a","type":"subflow:4418cbb5908845ca","z":"dd760cf501f56cc3","name":"","x":740,"y":200,"wires":[[]]},{"id":"37e3065142e670ef","type":"function","z":"dd760cf501f56cc3","name":"SetParam","func":"msg.idx = 3;\nmsg.value = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":360,"wires":[["5155168c1c0f08a3"]]},{"id":"5155168c1c0f08a3","type":"subflow:4418cbb5908845ca","z":"dd760cf501f56cc3","name":"","x":820,"y":320,"wires":[[]]},{"id":"b51e7f1ce70dfccf","type":"function","z":"dd760cf501f56cc3","name":"SetParam","func":"msg.idx = 2;\nmsg.value = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":280,"wires":[["5155168c1c0f08a3"]]},{"id":"dfe6e8666cb8bfa7","type":"function","z":"dd760cf501f56cc3","name":"SetParam","func":"msg.idx = 1;\nmsg.value = msg.input.temp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":320,"wires":[["5155168c1c0f08a3"]]},{"id":"5f63beeb.dd1e18","type":"switch","z":"dd760cf501f56cc3","name":"AirCond","property":"input.air","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":440,"wires":[["9f40b697.fd6db8"],["cbce7b0a.a17218"]]},{"id":"9f40b697.fd6db8","type":"function","z":"dd760cf501f56cc3","name":"AirON","func":"msg.idx = 2;\nmsg.value = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":420,"wires":[["33e36b13.f80a34"]]},{"id":"cbce7b0a.a17218","type":"function","z":"dd760cf501f56cc3","name":"AirOFF","func":"msg.idx = 2;\nmsg.value = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":460,"wires":[["33e36b13.f80a34"]]},{"id":"33e36b13.f80a34","type":"subflow:4418cbb5908845ca","z":"dd760cf501f56cc3","name":"","x":780,"y":440,"wires":[[]]},{"id":"5ce0beb.ebef84","type":"switch","z":"dd760cf501f56cc3","name":"Term","property":"input.term","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":540,"wires":[["28811eb6.141602"],["2f499c2a.00bd9c"]]},{"id":"28811eb6.141602","type":"function","z":"dd760cf501f56cc3","name":"TermON","func":"msg.idx = 3;\nmsg.value = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":520,"wires":[["7296dcae.882d5c"]]},{"id":"2f499c2a.00bd9c","type":"function","z":"dd760cf501f56cc3","name":"TermOFF","func":"msg.idx = 3;\nmsg.value = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":560,"wires":[["7296dcae.882d5c"]]},{"id":"7296dcae.882d5c","type":"subflow:4418cbb5908845ca","z":"dd760cf501f56cc3","name":"","x":760,"y":540,"wires":[[]]}]